
<html>
@{
    ViewBag.Title = "Index";
}
@model westline_alfa.Models.Kullanici
<head>
    <link href="../../assets/css/bootstrap.min.css" rel="stylesheet" />

    <script src="../../assets/js/jquery-1.10.2.js" type="text/javascript"></script>
    <script src="../../assets/js/bootstrap.min.js" type="text/javascript"></script>

    <style>
      
        .deneme{
         
            column-count:2;
            column-gap:50px;
        }
        .deneme2{
            page-break-after:always;
            
        }

    </style>
</head>

<body style="font-size:15px;">

    <div>
        <img src="~/assets/img/westlineSozlesme.jpg" />  Work and travel Aracılık Sözleşmesi
    </div>
        <div class="deneme" id="yazi">
            
          
            <b>MADDE 1: TARAFLAR</b><br />
             İşbu sözleşme; İstiklal Cad. Kontlar İşhanı No:75/6 Kat:5 Taksim Beyoğlu İstanbul adresli <b>Westline International</b> (Bir GEON Eğitim Danışmanlık Organizasyon ve Turizm Hizmetleri 
    İthalat İhracat Ticaret Ltd. Şti. resmi markasıdır.)(bundan sonra WESTLINE veya Acente olarak adlandırılacaktır) ve <b>@Model.Degers.FirstOrDefault(x=>x.InputId == 2).Icerik @Model.Degers.FirstOrDefault(x => x.InputId == 4).Icerik </b>(bundan sonra ÖĞRENCİ olarak adlandırılacaktır) arasında imzalanmıştır.
            <br />
            <b> Madde 2 KONU</b><br />
               İşbu sözleşmenin konusu, “Work and Travel” (Türkçesi ile “Çalış ve Gez”) programı ile ilgili hizmetlerin pazarlanmasına aracılık eden<b> Westline International</b> ile <b> ÖĞRENCİ </b>arasında karşılıklı hak ve yükümlülüklerin düzenlenmesidir.
            <br />  <b>MADDE 3 TERİMLER</b> <br />
            <b>3.1. Program Açıklaması</b> <br />
               Amerika’da “Work and Travel” Programı, Amerikan Hükümet Kurumlarının resmi sponsorluk yetkisi verdiği aracı kuruluşların gözetiminde yürütülen, yabancı öğrencilerin yasal olarak maksimum 5 ay geçici olarak bulunabilmesini ve Amerika’da 4 ay süreli geçici işlerde çalışarak tatil yapmasını amaçlayan bir Kültürel Değişim Programıdır. Programın amacı, öğrenciye bir iş edindirip Amerika’ya yerleşmesini sağlamak değildir. Bu program, öğrencinin iş deneyimi edinmesini, İngilizce pratik yapmasını, yurtdışı deneyimi edinmesini, vizyonunu geliştirmesini ve bütün bunları kendi kazanacağı para ile gerçekleştirmesini ve kişisel gelişimine katkıda bulunmayı amaçlamaktadır. Bu
               sözleşmede, “Work and Travel” programı kısaca “PROGRAM” olarak adlandırılacaktır.
            <br /> <b>3.2. WESTLİNE</b> <br />
               Programı Türkiye’de tanıtan, bu programa başvuran öğrencilerin kayıt kabul ve vize işlemlerini yürüten, öğrenciye program hakkında danışmanlık hizmeti veren, öğrenci ile ilgili kurumlar arasında aracılık hizmeti sunan Madde 1’de ünvanları alelen belirtilen GEON Ltd. Şti.’nin yurtdışı eğitim danışmanlık kuruluşudur.
            <br /><b>  3.3. Sponsor</b> <br />
               Program’da, öğrenciye Amerika’da çalışacağı işi bulan veya öğrencinin ya da WESTLİNE’in bulduğu iş için, işverenle sözleşme imzalayan, Amerika’da kaldığı sürece öğrenciye danışmanlık hizmeti sunan, vize, polis kaydı, iş yeri kaydı, işyeri değiştirme gibi yasal konularda yardımcı olan, ABD Devlet Kurumları ve Öğrencinin İşvereni ile öğrenci arasında oluşabilecek sorunları çözmede önerilerde bulunan, öğrencinin vize alabilmesi için öğrenciye bu destekleri vereceğini vaat eden ve bütün bunları ABD Dışişleri Bakanlığı’nın özel izni ile gerçekleştiren ve yine aynı bakanlığın denetiminde olan resmi bir Amerikan kuruluşudur.
            <br /> <b>   3.6. Department of State</b> <br />
               Program’daki kural ve koşulları düzenleyen, kimlerin katılabileceğine karar veren, programı uygulamak isteyen Amerikan firmalarını inceleyen, denetleyen ve uygun bulduklarına sponsorluk yetkisi veren, programa katılanlar için uygulanacak vize kurallarını belirleyen, program üzerinde


        </div><br /><br />
    <div class="deneme2">
        <div style="float:left; width:50%; margin-left:-20px;">
<center>Öğrenci Adı Soyadı / İmza</center>
        </div>
        <div style="float:right; margin-right:60px;">
            WestLine Yetkilisi/Adına / İmza <br />
            Emre Pişirici
        </div>
    </div>
    <div>
        <img src="~/assets/img/westlineSozlesme.jpg" /> Work and travel Aracılık Sözleşmesi
    </div>
 
        <div class="deneme">
          
                her türlü tasarruf yetkisine sahip, ABD’nin iç güvenlik ve dış politikasını yürüten ve doğrudan ABD Devlet Başkanına bağlı en üst düzeydeki resmi bir ABD hükümet kurumudur. Bu sözleşmede kısaca “ABD Dışişleri Bakanlığı” olarak adlandırılacaktır.

            <br /> <b>  3.7. Vize Bölümü</b> <br />
                Program’a katılmak isteyen öğrencilerin vize işlemlerini ABD Dışişleri Bakanlığı’nın talimatlarına göre yürüten, Ankara’da ABD Büyükelçiğine, Istanbul’da ABD Başkonsolosluğu’na bağlı olarak çalışan ABD’nin Türkiye’deki resmi vize işlem birimidir.


            <br />  <b>  3.8. SEVIS (Student and Exchange Visitor Information System)</b> <br />
                SEVP tarafından kullanılan internet tabanlı bir programdır. ABD’ye kültürel değişim programları ile gitmek isteyen yabancı öğrenciler, belli bir ücret karşılığında SEVIS’in internetteki web sayfasından kendi bilgilerini girerler. Bu program sayesinde, SEVP yabancı öğrencilerin kimlik bilgilerine erişimi sağlamaktadır.

            <br />   <b>  3.9. DS-2019</b> <br />
                PROGRAM’a kaydolan ve uygun olan her öğrenciye verilen resmi bir onay yazısıdır. Bu yazı ile öğrenciler Türkiye’deki vize bölümlerine başvurarak vize talebinde bulunurlar.

            <br /> <b> 3.10. Aracılık Hizmeti</b> <br />
                Öğrenci ile SPONSOR KURULUŞ’u buluşturma ve ÖĞRENCİ’nin vize işlemlerinin takibi çerçevesinde WESTLİNE tarafından sunulan hizmet
           
                kısaca “ARACILIK HİZMETİ” olarak adlandırılacaktır.

            <br /> <b>  3.11. İşveren</b> <br />
                Öğrenciye, Amerika’da çalışması için işveren kişi veya firmadır.

            <br /> <b> 3.12. İş Bulma Kuruluşu</b> <br />
                Faaliyette bulunan, PROGRAM’da öğrenciye çalışabileceği işleri bulan, WESTLİNE ve SPONSOR kuruluştan bağımsız özel bir kuruluştur.

            <br /> <b>   3.13. İşveren Bilgi Bankası</b> <br />
                PROGRAM’a katılacak ÖĞRENCİLER’e iş vermek isteyen Amerika’daki işverenler ve işler hakkında detaylı bilgilerin olduğu bir veritabanıdır.
            <br /> <b>   3.14. DS-2019 Başlangıç/Başlama Tarihi</b> <br />
                DS-2019 belgesinin üzerinde "Form Covers Period" başlığı altında "From" karşılığı olan tarihtir. Bu terim ayrıca "Program Start Date" anlamındaki "Program Başlangıç Tarihi" olarak da geçebilmektedir.
            <br /> <b>   MADDE 4. KURAL VE KOŞULLAR</b> <br />
            <b>    4.1. Bu programla ABD’ye seyahat için gerekli vize koşulları</b><br />  “ABD Dışişleri Bakanlığı” kuralları ve “Vize Bölümü” kriterlerine göre bu programa başvurabilmek için, en az şu nitelikleri taşımak gerekir:
                a) Devam zorunluluğu olan dört yıllık veya yüksek lisans hazırlık ya da birinci ya da ikinci sınıf öğrencisi olmak (Açık öğretim bölümlerinden sadece İngilizce Öğretmenliği bölümünde okuyor olmak gerekir).

       


        </div><br /><br />
    <div class="deneme2">
        <div style="float:left; width:50%; margin-left:-20px;">
            <center>Öğrenci Adı Soyadı / İmza</center>
        </div>
        <div style="float:right; margin-right:60px;">
            WestLine Yetkilisi/Adına / İmza <br />
            Emre Pişirici
        </div>
    </div>
    <div>
        <img src="~/assets/img/westlineSozlesme.jpg" />  Work and travel Aracılık Sözleşmesi
    </div>

    <div class="deneme">

      <br />  b) 4,00 üzerinden en az 2,00; (100’lü not sistemine göre en az 60) genel not ortalamasına sahip olmak programa katılım açısından zorunlu değildir ancak vize alma açısından avantajlı hususlardan biridir
        <br />  c) 28 yaşından küçük olmak
        <br />  d) Bu kurallar vize başvurusu için gereklidir ancak vize almak için yeterli değildir. Amerikan Göçmenlik Hukuku ve Vize kanunlarına göre, Vize memurları, diledikleri kişiye vize verip vermemekte serbesttir. Vizesi onaylanmayan öğrenciye, kanunlara göre vize memuru bir açıklama yapmak zorunda değildir.
        <br />   e) Vize aşamasında WESTLINE’ın görevi, kanunların belirlediği limitler dahilinde öğrenciye vize danışmanlığı sunmak ve vize alması için gereken yasal evrakları temin etmesinde yardımcı olmaktır. WESTLİNE ve SPONSOR KURULUŞ, hiç bir şekilde vize memurunun kararına müdahale edemez ve verilen karardan sorumlu tutulamaz.



       <br /> <b>4.2. Öğrencinin kabul etmesi gereken temel kurallar</b>  <br />
        “Work and Travel” programı herkesin yapabileceği ve başarıyla tamamlayabileceği bir program değildir. Bu programda, bir işverenin emrinde çalışılacağı unutulmamalıdır. Programa katılıp ABD’ye giden öğrenci, bir misafir olarak değil, firmanın bir çalışanı olarak kabul edilir. PROGRAM’da öğrencinin başarısı, işinde ne kadar disiplinli ve çalışkan olduğuna bağlıdır. Programa katılan tüm öğrencilerin, aşağıda açıklanan temel kurallar ve prensipleri bilmesi ve kabul etmesi çok önemlidir.
        Bu program, bir tatil veya dil eğitim programı değildir.
        <br />  a)	Öğrencinin bu programdaki başarısı, iş ahlakına ve işyerinde son derece tutarlı, dürüst ve          çalışkan olmasına bağlıdır.
        <br />   b)	İşveren, öğrenciden zamanında işe gelip gitmesini, dürüst olmasını, çalışkan ve üretken olmasını bekler. Öğrenci, İşveren’in bu beklentisini karşılamakla yükümlüdür.
        <br />   c)	Öğrenci işyerindeki amir ve üstlerinin iş hakkında istediği görevleri, zamanında ve eksiksiz yerine getirmelidir.
        <br />   d)	Türkiye’deki işyeri kuralları ile Amerika’daki işyeri kuralları çok farklıdır. Bir çok Amerikan firmasında, işe bir kaç dakika bile geç kalmak, işten çıkarılmak için yeterli bir sebep olarak görülür.
        <br />  e)	Motivasyon eksikliği gösteren, işyerinde personel arasında huzursuzluk yaratan, işyerine geç gelen, iş ahlakına aykırı davranan, görevini zamanında ve eksiksiz tamamlayamayan, işverenden ya da işyerinin herhangi bir yöneticisinden özel istekleri bulunan (konaklama yerinin değiştirilmesi, çalışma pozisyonunun değiştirilmesi vs.) ancak karşılık bulunmadığı için ortaya çıkabilecek huzursuzluklar nedeniyle öğrencinin işine son verilebilir. Bu durumda, SPONSOR KURULUŞ veya WESTLİNE, ÖĞRENCİ’ye yeni bir iş bulmak zorunda değildir. Bu durumdan ötürü doğabilecek finansal zorluklardan ve benzeri herhangi aksi durum/zararlardan WESTLINE ve SPONSOR KURULUŞ sorumlu değildir



    </div><br /><br />
    <div class="deneme2">
        <div style="float:left; width:50%; margin-left:-20px;">
            <center>Öğrenci Adı Soyadı / İmza</center>
        </div>
        <div style="float:right; margin-right:60px;">
            WestLine Yetkilisi/Adına / İmza <br />
            Emre Pişirici
        </div>
    </div>

    <div>
        <img src="~/assets/img/westlineSozlesme.jpg" />  Work and travel Aracılık Sözleşmesi
    </div>

    <div class="deneme">
        f)	Öğrenciye danışmanlık hizmeti sunan WESTLINE ve SPONSOR KURULUŞ, öğrencinin çalıştığı işyerinde hiç bir yönetim hakkına sahip değildir. Bu nedenle, öğrenciye zam yapması, ek prim vermesi, öğrenciye fazla mesai vermesi, daha az veya daha çok çalıştırması, işten çıkarılan öğrenciyi işe geri alması gibi talep ve nedenlerle, SPONSOR KURULUŞ veya WESTLINE’in, işverenle görüşmesi ve onları ikna etmesi mümkün değildir.
        <br />g)	Öğrenci ABD’de iken işverene ve 3. kişilere verdiği zararlardan kendisi sorumludur. Trafik kazası ve kronik hale gelmiş hastalıklar dahil tamamen kendi inisiyatifinde olan her türlü sorundan öğrenci’nin kendisi sorumludur. WESTLİNE ve SPONSOR KURULUŞ, öğrenci’nin kendi almış olduğu kararlardan ve bu kararların sonuçlarından sorumlu değildir. Öğrenci bu tür durumlarda, oluşan her türlü hasar ve ziyanı kendisi karşılamak zorundadır.<br />



        <b>MADDE 5: PROGRAM SEÇENEKLERİ</b>  <br />
        WESTLINE, Amerika’da Work and Travel programını, öğrencinin işi bulma şekline ve yükleneceği sorumluluklara göre 3 (üç) farklı seçeneğe ayırmıştır.

        <br />   <b>5.1. “Self Placement” seçeneği</b>  <br />
        Bu seçenekte Öğrenci, Amerika’da çalışacağı işi kendisi bulur.

        <br />  <b> 5.2. “Full Placement” seçeneği</b>  <br />
        Bu seçenekte öğrenciye, Amerika’da çalışacağı iş, WESTLINE tarafından aracılık vasıtası ile bulunur.

        <br />  <b> 5.3. “Gold Placement” seçeneği</b>  <br />
        Bu seçenekte öğrenciye sunulacak hizmetler “Full Placement” seçeneğindeki hizmetler ile aynıdır. Bu pakete ilaveten öğrencinin vize harcı ve sevis ödemesi ile Amerika’da gideceği lokasyona en yakın uluslararası havalimanına olan gidiş-dönüş uçak bileti de WESTLINE tarafından öğrenciye sağlanır. Bu biletleme işlemi ÖĞRENCİ ile WESTLINE danışmanının ortak mütabakata varması durumunda farklı lokasyonlar için belirlenebilir. Gold Placement, uçak bileti, vize ücreti, sevis ücreti ve Full Placement Program Ücretini içerir. Full Placement Program Ücreti Self Placement Program seçeneği hariç hem Full Placement program seçeneği hem de Gold Placement Program seçeneği için aynı zamanda program ücreti ya da bedeli şeklinde tanımlanır.


        <br />   <b> MADDE 6. SEÇENEKLERE GÖRE KURALLAR</b>  <br />
        <b>6.1. “Self Placement” seçeneğinde kurallar</b><br />
        a)	Öğrenci işini doğrudan işveren ile temasa geçerek kendisi bulmalıdır. İş sözleşmesi doğrudan işveren ile yapılmış olmalıdır. Aracı iş bulma acentası ile yapılmış iş sözleşmeleri kabul edilmez.
       <br /> b)	ÖĞRENCİ; bu seçenekte, çalışacağı işi kendisinin ayarladığını veya ayarlayacağını, iş ve konaklama bulma ile ilgili tüm sorumluluğun kendisinde olduğunu, bu konularda çıkabilecek tüm aksaklık ve problemlerle kendisinin ilgileneceğini, WESTLİNE ve SPONSOR 


    </div><br /><br />
    <div class="deneme2">
        <div style="float:left; width:50%; margin-left:-20px;">
            <center>Öğrenci Adı Soyadı / İmza</center>
        </div>
        <div style="float:right; margin-right:60px;">
            WestLine Yetkilisi/Adına / İmza <br />
            Emre Pişirici
        </div>
    </div>

    <div>
        <img src="~/assets/img/westlineSozlesme.jpg" />  Work and travel Aracılık Sözleşmesi
    </div>

    <div class="deneme">
        KURULUŞ’un bu konuda hiçbir sorumluluğu olmadığını kabul eder.
     <br />   c)	ÖĞRENCİ, ABD'ye vardıktan sonra herhangi bir sebeple işine başlayamadığı durumda WESTLINE’dan yeni bir iş talep edebilir. Ancak bunun için WESTLINE’ın belirleyeceği ek servis ücretini ödemesi ve bununla ilgili koşulları kabul etmesi gerekir. Ek servis ücreti ve diğer bilgiler, hizmetin talep edildiği sırada ÖĞRENCİ'ye iletilir.
    <br />   d)	ÖĞRENCİ, bu seçenekte DS-2019 formunun getirilebilmesi için işverenden temin etmesi gereken (doldurulmuş ve işveren tarafından imzalanmış job offer (iş sözleşmesi)), sigorta poliçesi vb. veya sonradan ek olarak çıkabilecek ve programın devam ettirilebilmesi için gerekli olacak tüm belgelerin zamanında temin edilmesinden kendisi sorumludur.
     <br />   e)	ÖĞRENCİ, ABD'ye vardıktan sonra program süreci içerisinde eğer iş değişikliği yapacaksa veya ikinci bir iş bulup çalışacaksa bu işlemler öncesi sponsorunu bilgilendirmekle ve sponsorun olası bu durum için ÖĞRENCİ'ye bildireceği ve yapılması gereken işlemleri yerine getirmekle  mükelleftir.
    <br />

        <b>6.2. “Full Placement” seçeneğinde kurallar</b> <br />
        a)	Bu seçenekte öğrenci, işverenlerle veya sponsorlarla / işveren temsilcileriyle Türkiye’de WESTLİNE veya SPONSOR KURULUŞ tarafından düzenlenecek iş fuarlarında veya yüz yüze veya “Skype” ve benzeri iletişim araçlarıyla mülakatlarda tanışır ve sohbet havasında bir mülakata alınır. Öğrenci İngilizce konuşma becerisinin yeterli olduğu, kendisine uygun bir pozisyona yerleşir. Bu tür yerleştirmelerde işe kabul etme yetkisi işverenlerde veya sponsorlarda veya işveren temsilcilerindedir.
       <br /> b)	ÖĞRENCİ, bunların dışında programa katılacağı sponsora göre iş yerleştirme işlemini sponsorun panelinden veya göndereceği iş detayları formlarından seçeceği profiline uygun işlere yapacağı başvuruyla da gerçekleştirebilir. Bu durumda ÖĞRENCİ tüm işlemlerini WESTLINE danışmanının yardımıyla sponsorun panelinden veya iş formlarından gerçekleştirir.
        <br />c)	Ayrıca ÖĞRENCİ danışmanı aracılığıyla ÖĞRENCİ’nin dil seviyesi ve profiline uygun bir pozisyona da direkt yerleştirilebilir.
        <br />d)	Öğrenci, İş Fuar’ının, randevuların veya telefonla mülakat tarihlerinin düzenlendiği gün ve saatte, mülakata katılmak zorundadır. Belirtilen ve kendisine bildirilen tarihlerdeki organizasyonlara katılmayan ÖĞRENCİ’nin sonrasında yaşayabileceği işe yerleştirme problemlerinden ÖĞRENCİ sorumludur. Söz konusu mülakatlara katılmayan veya katılamayan ÖĞRENCİ’nin sonrasında bir işe yerleştirilememesi durumu WESTLINE’ın sorumluluğunda değildir.
        <br />e)	ÖĞRENCİ, bu program seçeneğinde işlemlerinin hızlı bir şekilde ilerletilebilmesi için WESTLINE’a temin etmesi gereken gerekli dökümanların zamanında teslim edilmesinden kendisi sorumludur. Zamanında teslim edilmeyen, temininde gecikilen dökümanlar nedeniyle yaşanabilecek iş yerleştirme problemlerinden veya programa 

    </div><br /><br />
    <div class="deneme2">
        <div style="float:left; width:50%; margin-left:-20px;">
            <center>Öğrenci Adı Soyadı / İmza</center>
        </div>
        <div style="float:right; margin-right:60px;">
            WestLine Yetkilisi/Adına / İmza <br />
            Emre Pişirici
        </div>
    </div>
    <div>
        <img src="~/assets/img/westlineSozlesme.jpg" />  Work and travel Aracılık Sözleşmesi
    </div>

    <div class="deneme">
        katılımın tehlikeye girmesinden veya programın iptal edilmesinden doğabilecek zararlardan ÖĞRENCİ sorumludur.
     <br />   f)	Öğrenci yerleştiği işi, ABD’ye vardıktan sonra, kurallar ve yasalar çerçevesinde değiştirmek isterse, ÖĞRENCİ veya SPONSOR KURULUŞ veya WESTLINE kendisine bir başka iş bulabilir fakat bu durum o günün iş şartlarına göre şekillenir ve garanti edilmez. ÖĞRENCİ’nin yerleşmiş olduğu hali hazırdaki işinden çıkmasıyla  doğabilecek problemleri/sorumluluğu kendisi üstlenir.
        <br /> g)	ÖĞRENCİ’nin Amerika’ya varmasıyla beraber ilk maaşını (paycheck) 1 hafta ile 4 hafta arasındaki bir süre zarfında alabilir. Bu nedenle ÖĞRENCİ’nin giderken bu süreçte kendisine yetebilecek harçlığını alması tavsiye edilir. Bu harçlık bedeli gidilen bölgeye göre değişmekle beraber en az $1000 ile $1200 arasındadır.
        <br />  h)	WESTLINE, ÖĞRENCİ’nin Amerika’da iken işveren tarafından aldığı haftalık çalışma saatlerinin veya değişen saatlik ücretlerinin veya işveren ya da SPONSOR KURULUŞ tarafından ayarlanan konaklamanın değiştirilmesinden veya ÖĞRENCİ’nin yaptığı işlerden veya işverenin ÖĞRENCİ’nin pozisyonunu ÖĞRENCİ’nin oraya varış tarihinden veya profilinden dolayı değiştirmesi durumunda işverene baskı yapma ya da ÖĞRENCİ’nin çalışma pozisyonunu değiştirme zorunluluğunda/sorumluluğunda değildir.
        <br />  i)	WESTLINE, ÖĞRENCİ’nin kendisinden kaynaklanmayan herhangi bir durumdan ve sebepten ötürü  işine son verilmesi durumunda veya işe alınmaması durumunda ÖĞRENCİ’ye yeni bir iş imkanı sunmakla yükümlüdür.
        <br />  j)	ÖĞRENCİ’nin konaklama olanakları veya çevresel faktörleri gerekçe göstererek işini değiştirme konusundaki girişimlerinden ötürü doğabilecek tüm sorumluluk ÖĞRENCİ’ye aittir.
        <br />  k)	İşveren, ÖĞRENCİ’nin iş yerine vardığı tarihe göre hemen işbaşı yapmasını isteyebilir veya sonraki haftalık çalışma çizelgesine ekleyebilir. Bu nedenle ÖĞRENCİ’nin Amerika’ya giderken yeterli bir harçlık alması gerekir.

        <br />   <b> 6.3. “Gold Placement” seçeneğinde kurallar</b><br />
      <br />  a) “Full Placement” paketindeki standart tüm maddeler “Gold Placement” paketi için de geçerlidir.
       <br /> b) “Gold Placement” paketini seçen ÖĞRENCİ’nin vize masrafları olan “Vize Harcı” ve “Sevis Harcı” WESTLINE tarafından ödenir.
       <br /> c) “Gold Placement” paketini seçen ÖĞRENCİ’nin gideceği lokasyona ya da Amerika’da gideceği lokasyona en yakın uluslar arası havalimanına olan gidiş-dönüş uçak bileti WESTLINE tarafından öğrenciye sağlanır. Bu biletleme işlemi ÖĞRENCİ ile WESTLINE danışmanının ortak mütabakata varması durumunda farklı lokasyonlar için belirlenebilir. Bu durumda WESTLINE'ın ÖĞRENCİ'nin isteği doğrultusunda farklı lokasyonlar için alınacak biletlemeye onay vermesi gerekir.
        <br />d) Alınan uçak biletlerinin gidiş/dönüş sürecindeki kalkış ve varış noktaları 
    </div><br /><br />
    <div class="deneme2">
        <div style="float:left; width:50%; margin-left:-20px;">
            <center>Öğrenci Adı Soyadı / İmza</center>
        </div>
        <div style="float:right; margin-right:60px;">
            WestLine Yetkilisi/Adına / İmza <br />
            Emre Pişirici
        </div>
    </div>
    <div>
        <img src="~/assets/img/westlineSozlesme.jpg" />  Work and travel Aracılık Sözleşmesi
    </div>

    <div class="deneme">
        WESTLINE danışmanının ve ÖĞRENCİ’nin mutabık kaldığı noktalar olabilir. WESTLINE tarafından alınacak biletin gidişteki kalkış / dönüşteki iniş noktaları sadece İstanbul şehri içerisindeki uluslararası hava limanları olabilir. Uçuş havalimanlarını belirleme hakkı WESTLINE'a aittir.
        <br />e) WESTLINE tarafından alınan uçak biletinin iptali, değişikliği veya bilet alındıktan sonra yapılacak bilet üzerindeki herhangi bir değişiklikten kaynaklanan ve ortaya çıkabilecek ekstra ücretlerden WESTLINE sorumlu değildir.
        <br />f) “Gold Placement” paketi dahilinde WESTLINE tarafından ödenecek vize masrafları içerisinde yer alan “Vize Harcı” ve “Sevis Harcı”nın hiçbir durumda iadesi mümkün değildir.
        <br />g) WESTLINE, bu paket dahilindeki Öğrenci’ye, Öğrenci’nin talebi üzerine istenilen bir havayolu firmasından veya istenilen özelliklerde (business class, comfort class vb.) bilet temin etme zorunluluğunda değildir. Fakat oluşabilecek farkların ödenmesi durumunda WESTLINE Öğrenci’ye istediği havayolundan biletini temin edebilir.

        <br /><b>MADDE 7. WESTLİNE’IN GÖREV VE SORUMLULUKLARI</b><br />

        a)	Öğrencinin program başvurusunu almak<br />
        b)	“Self Placement” seçeneğine başvuran öğrenciler için; Öğrencinin bulduğu işyerinin “ABD Dışişleri Bakanlığı” kurallarına uygun olması durumunda, öğrenci ile sponsor arasında DS-2019 formunun getirilmesi amacıyla aracılık etmek
        <br /> c)	 “Full Placement” seçeneğine başvuran öğrencilerin; Alaska eyaleti dışındaki eyaletlerde işverenlerle veya sponsorlarla bir araya getirmek veya uzaktan online olarak anlık iletişim imkanı sağlayarak mülakat edilmelerine imkan vermek veya WESTLINE’ın ya da SPONSORU’un iş listelerinden öğrencinin program profiline uygun pozisyonlara yerleştirmek.
        <br />d)	Öğrencinin vize başvurusu için gerekli DS-2019 formunun hazırlanmasına aracılık etmek
        <br />e)	Öğrenciyi vize mülakatına hazırlamak
        <br /> f)	Öğrenciye, ABD’de yaşam konusunda uyum eğitimi vermek
        <br /> g)	Öğrenci ABD’de iken, programla ilgili karşılaştığı sorunların çözümünde önerilerde bulunmak
        <br /> h)	Öğrenci ve SPONSOR KURULUŞ arasında aracılık yapmak



        <br />  <b>MADDE 8. SPONSOR KURULUŞ’UN GÖREV VE SORUMLULUKLARI</b> 
        <br />a)	“Work and Travel” programının ABD yasalarına ve “ABD Dışişleri Bakanlığı” kurallarına uygun olarak işlemesini sağlamak
        <br />b)	Öğrencinin DS 2019 formunda yazan tarihler arasında sağlık sigortasını yaptırmak
        <br />c)	ABD’de yasalara, kurumlara ve 3. şahıslara karşı, öğrenciye tavsiye ve önerilerde bulunmak

    </div><br /><br />
    <div class="deneme2">
        <div style="float:left; width:50%; margin-left:-20px;">
            <center>Öğrenci Adı Soyadı / İmza</center>
        </div>
        <div style="float:right; margin-right:60px;">
            WestLine Yetkilisi/Adına / İmza <br />
            Emre Pişirici
        </div>
    </div>
    <div>
        <img src="~/assets/img/westlineSozlesme.jpg" />  Work and travel Aracılık Sözleşmesi
    </div>

    <div class="deneme">
        <br />d)	Öğrenci ile işveren arasında iletişimi sağlamak, sorun oluşması durumunda, çözüm önerilerinde bulunmak
        <br />e)	Öğrenci’ye ABD’ye varışından önce veya sonra uyum eğitimi vermek ve onu ABD’ye hazırlamak
        <br />f)	Öğrencinin, federal ve yerel devlet dairelerine karşı olan vergi, polis kaydı, sigorta kaydı gibi yasal yükümlülüklerini yerine getirmesinde rehberlik yapmak
        <br /> g)	Öğrenci’nin durumunu yasal mercilere rapor etmek ve yasalara uygun olarak kalışını sağlamak
        <br /> h)	“Self Placement” seçeneğine başvuran öğrenciler için; Öğrencinin seçtiği işyerinin “ABD Dışişleri Bakanlığı” kurallarına uygun olup olmadığını incelemek
        <br /> i)	Öğrenci ile işveren arasında sözleşmenin imzalanmasına aracılık etmek
        <br /> j)	 “Full Placement” seçeneği için; kendine uygun bir işyeri belirlemeyen öğrenciye, mümkün mertebede iş bulmasında yardımcı olmak
        <br />k)	Öğrencinin vize başvurusu için gerekli DS-2019 formunu onaylamak
        <br /> l)	Öğrencinin acil durumlarda yardım alabileceği özel yardım için öğrencinin 24 saat ulaşabileceği bir telefon numarası vermek, öğrenciye önerilerde bulunmak, gerekli yerlerle iletişime geçmesine yardımcı olmak
        <br /> m)	“SPONSOR aracılığıyla yerleştirilen işlerde işveren tarafından yapılan ve herhangi bir sebebi bulunmayan işten çıkarma olaylarında, öğrenciye yeni bir iş bulabilmesi için yardımcı olmak
        <br />n)	“Full Placement” seçeneği için; konaklama yerini değiştirmek isteyen, kalacak yeri olmayan veya farklı konaklama alternatifi isteyen öğrenciye önerilerde bulunmak
        <br />
        <b>MADDE 9. SPONSOR KURULUŞ VE WESTLINE’IN SORUMLU OLMADIĞI BELLİ BAŞLI KONULAR</b>
        <br />a)	Öğrencinin işe gidememesi veya kusurundan dolayı işten çıkarılmasından, iş yerinin veya konaklama yerinin değiştirilmesinden ötürü öğrencinin zarara uğramasından WESTLINE veya SPONSOR KURULUŞ sorumlu tutulamaz.
        <br />b)	3. şahısların öğrenciye verdiği zararlardan WESTLINE ve SPONSOR KURULUŞ sorumlu tutulamaz.
        <br />c)	Öğrencinin ABD’de kaybettiği veya çaldırdığı kişisel eşyalarından WESTLINE ve SPONSOR KURULUŞ sorumlu değildir.
        <br />d)	Yasaların suç saydığı fiillerden dolayı ÖĞRENCİ’nin yargılanması, tutuklanması ve mahkeme masraflarından WESTLINE ve SPONSOR KURULUŞ sorumlu değildir.
        <br />e)	Bu sözleşmede yer alan herhangi bir paket seçeneği ile Amerika’daki herhangi bir işe yerleşen öğrencinin dil seviyesi, bulunduğu bölgenin sosyal yaşantısı veya coğrafi özellikleri  veya işveren/iş/konaklama ile ilgili kendisinden kaynaklanan problemler veya farklı istekler sebebiyle işinden veya bulunduğu bölgeden ayrılmak istemesi durumunda, WESTLINE öğrenciye yeni bir pozisyon bulma ve yerleştirme sorumluluğunda değildir.
        <br />f)	Öğrencinin yerleştirildiği pozisyonda çalışıyor olmasına rağmen pozisyonunu değiştirmesinden veya farklı bir bölgeye gidiyor olmasından dolayı ulaşım ve yerleşim masraflarından doğan ekstra ücret için 
    </div><br /><br />
    <div class="deneme2">
        <div style="float:left; width:50%; margin-left:-20px;">
            <center>Öğrenci Adı Soyadı / İmza</center>
        </div>
        <div style="float:right; margin-right:60px;">
            WestLine Yetkilisi/Adına / İmza <br />
            Emre Pişirici
        </div>
    </div>
    <div>
        <img src="~/assets/img/westlineSozlesme.jpg" />  Work and travel Aracılık Sözleşmesi
    </div>

    <div class="deneme">
       WESTLINE veya SPONSOR KURULUŞ sorumlu tutulamaz.
        <br />g)	Öğrenci Amerika’ya vardıktan sonraki süreçte işe başlama sürecini veya ilk paycheck ya da maaşını alma sürecini göz önünde bulundurarak gittiği bölgeye göre yanında yeterli miktarlarda harçlık bulundurmak durumundadır. Bu dönemde yaşamsal, konaklama ve sosyal harcamalarından ötürü doğabilecek finansal sıkıntılardan WESTLINE veya SPONSOR KURULUŞ sorumlu tutulamaz.
        <br />h)	Öğrenci’nin çalıştığı iş yerindeki çalışma arkadaşlarından, işverenden, menajerlerden, coğrafi koşullardan, çalışma saatlerinden veya iş yerinin iş şartlarından ötürü iş yerini ya da konaklamasını değiştirmek istemesi veya işinden ya da konaklama yerinden çıkmış olması durumunda yeni bir iş yeri ya da konaklama yeri bulma konusunda WESTLINE ve SPONSOR KURULUŞ herhangi bir sorumluluk kabul etmez.

        <br />   <b>MADDE 10. ÖĞRENCİ’NİN BELLİ BAŞLI GÖREV VE SORUMLULUKLARI</b>
        <br />a)	Öğrenci, ABD’de kalışı süresince, yasalara, gelenek ve göreneklere, kanunlara ve düzene uymak zorundadır.
        <br />b)	ABD’de her türlü ulaşım, konaklama ve kişisel ihtiyaçlarından öğrenci kendisi sorumludur.
        <br />c)	Öğrenci, bu sözleşmede belirtilen tüm kurallara uymak ve sorumlulukları yerine getirmekle yükümlüdür.
        <br /> d)	Öğrenci Amerika’ya vardığında DS2019 formunun temin edildiği Sponsor kuruluşun kuralları dahilinde belli bir süre içinde Amerika’da bulunduğu adres ve işle ilgili bilgilerini internet aracılığıyla girdiği SEVIS işleminden kendisi sorumludur.
        <br /> e)	Öğrenci kayıt esnasında vereceği iletişim adresleri vasıtasıyla ulaşılabilir olmalıdır. Öğrenci e-maillerini sıklıkla kontrol etmelidir. Gönderilen bilgilendirme e-maillerini okumama veya almama durumunda veya bilgilendirme işlemine rağmen zamanında yerine getirilmeyen işlemlerden ötürü çıkabilecek sorunlardan ve ziyanlardan ÖĞRENCİ sorumludur.
        <br />
        <b>MADDE 11. PROGRAM ÜCRETLERİ ve KURALLAR</b>

        <br /><b>11.1.</b> Öğrencinin katılmak istediği seçenek ve ücreti aşağıda belirtilmiştir.
        Öğrencinin Program Seçeneği : <b>FULL Placement</b><br />
        Ön Kayıt Ücreti :<b>XXX USD</b><br />
        Geri Kalan Ücret :<b>XXXX USD</b><br />
        <b>Geri Kalan Ödeme Planı</b>
        <b> 1.	Birinci Taksit:07.11.2016:XX USD</b><br />
        <b>2.	İkinci Taksit:07.12.2016:XX USD</b><br />
        <b>3.	Üçüncü Taksit:07.01.2017:XX USD</b><br />
        <b>4.	Dördüncü Taksit: 07.02.2017:XX USD</b><br />


        <b>11.2. Ön Kayıt ücretinin ödeme yeri ve zamanı </b>Ön kayıt ücreti olan 400 USD (KDV – Katma Değer Vergisi dahildir), programa ilk başvuru esnasında öğrenci tarafından WESTLINE’a ödenir. Bu ücret ödenmeden, öğrenci bu sözleşmeye konu olan haklardan yararlanamaz.


    </div><br /><br />
    <div class="deneme2">
        <div style="float:left; width:50%; margin-left:-20px;">
            <center>Öğrenci Adı Soyadı / İmza</center>
        </div>
        <div style="float:right; margin-right:60px;">
            WestLine Yetkilisi/Adına / İmza <br />
            Emre Pişirici
        </div>
    </div>

    <div>
        <img src="~/assets/img/westlineSozlesme.jpg" />  Work and travel Aracılık Sözleşmesi
    </div>

    <div class="deneme">
        <br />   <b> 11.3. Program ücretinin ödeme yeri ve zamanı</b><br />
        Ön kayıt ve diğer ücretler WESTLINE ofisinde ÖĞRENCİ veya temsilcisi tarafından elden veya ÖĞRENCİ’ye WESTLINE tarafından iletilen banka hesap numaralarına veya aracı finans kuruluşunun komisyonu dahilinde kredi kartı ile Amerikan Doları olarak veya ücretin yatırılacağı günün kurlarına karşılık gelen Türk Lirası olarak madde 11.1.’de planlandığı gibi yatırılır.

        <br />  <b> 11.4. Diğer Ücretler</b><br />
        Pasaport ücreti, SEVIS ücreti, gidiş-dönüş uçak bileti ücreti, havaalanı vergileri, vize başvurusu ile ilgili olarak Amerikan Konsolosluğunca talep edilen vize başvuru ücreti, randevu ücreti, resmi harç, pul ve başka bir ad altında ÖĞRENCİ’den talep edilen tüm ödemeler, yurtdışı çıkış harç pulu ücreti, Amerika’daki konaklama, ulaşım ve diğer yaşam giderleri ÖĞRENCİ’ye aittir ve PROGRAM ücretine dahil değildir.



        <br />  <b> 11.5. Ödeme Sürecinde Kurallar ve Yaptırımlar</b><br />
        ÖĞRENCİ’nin, madde 11.1.’deki ödeme planına uyması gerekir. Belirtilen günlerde yapılmayan ödemeler için ÖĞRENCİ WESTLINE tarafından uyarılır. Zamanında yapılmayan ödemelerin üzerinden geçen 3. İş gününde ÖĞRENCİ ekstra 50 Amerikan Doları cezai ödemeyi WESTLINE’a yapmak durumundadır. Ödeme planında belirtilen günden itibaren 7 iş günü içinde taksit ve cezai ödemenin yapılmaması durumunda WESTLINE’ın sözleşmeyi fesih etme, fesih tarihine kadar ÖĞRENCİ tarafından ödenen tüm ücretleri iade etmeme ve kalan ödemeleri yasal mercilere başvurarak isteme hakkına sahiptir. Öğrenci’nin süreç dahilinde oluşabilecek ücret farklarını veya eksik kalan program ücreti farkını veya oluşan ceza farklarını, fark ücretinin oluştuğu gün itibarı ile 30 gün içerisinde WESTLINE’a ödemekle yükümlüdür. Ücret farkının veya farklarının oluştuğu tarih ve farkın miktarı WESTLINE tarafından Öğrenci’ye kayıt esnasında vermiş olduğu e-mail, telefon numarası veya Skype adresi üzerinden iletilir. Öğrenci’nin oluşan farkı ya da farkları WESTLINE’nın Öğrenci’ye durumu yukarıdaki iletişim araçlarından en az biri ile belirttiği tarih itibarı ile Öğrenci’nin 30 gün içerisinde belirtilen farkı ya da farkları ödememesi durumunda fark ya da farklara ilaveten Öğrenci 100USD ekstra cezai ücret ödeyeceğini  kabul eder.


        <br />  <b> MADDE 12. KAYIT AŞAMASIYLA İLGİLİ KOŞULLAR</b><br />
        <b>12.1. </b>WESTLINE’dan ARACILIK HİZMETİ’ni satın almak isteyen ÖĞRENCİ,

        <br />  a) <b>Full Placement </b>seçeneğinde; varsa pasaport fotokopisini ve önceki J1 vize fotokopisini, özgeçmişini, 2 adet fotoğrafını, üniversiteden alacağı güncel öğrenci belgesini WESTLINE’a teslim edecek ve 400 USD olan ön kayıt ücretini peşin olarak ödeyecektir.
        <br />     b) <b>SELF PLACEMENT</b> seçeneğinde; başvuru anında varsa iş teklif formunu, varsa pasaport fotokopisini ve önceki J1 vize fotokopisini, 2 adet fotoğrafını, 

    </div><br /><br />
    <div class="deneme2">
        <div style="float:left; width:50%; margin-left:-20px;">
            <center>Öğrenci Adı Soyadı / İmza</center>
        </div>
        <div style="float:right; margin-right:60px;">
            WestLine Yetkilisi/Adına / İmza <br />
            Emre Pişirici
        </div>
    </div>
    <div>
        <img src="~/assets/img/westlineSozlesme.jpg" />  Work and travel Aracılık Sözleşmesi
    </div>

    <div class="deneme">
        üniversiteden alacağı güncel öğrenci belgesini WESTLINE’a teslim edecek ve 400 USD olan ön kayıt ücretini peşin olarak ödeyecektir.
        <br />  <b>12.2. ÖĞRENCİ,</b> WESTLİNE başvuru formu üzerinde belirttiği e-mail adresi ve telefon numarasında herhangi bir değişiklik olması durumunda bunu WESTLINE’a hemen bildirmekle yükümlüdür. Bu yükümlülüğün yerine getirilmemesinden meydana gelebilecek aksaklıklardan WESTLINE sorumlu tutulamaz. ÖĞRENCİ, e-maillerini düzenli ve sık olarak kontrol etmek, yanıtlanması gereken e-maillere yanıt vermek veya WESTLINE’ın yetkili danışmanlarına bilgi vermek ile yükümlüdür. WESTLINE program süreci ile alakalı yazılı tüm hizmetlerini ÖĞRENCİ’nin e-maili üzerinden verir. Hiç cevap verilmeyen veya İstenilen zamanda verilmeyen cevaplardan ötürü doğabilecek tüm sorunlardan ÖĞRENCİ sorumludur.
        <br />   <b>12.3.</b> ÖĞRENCİ’nin kayıtlı email adresindeki bilgiler ile SPONSOR veya WESTLINE’ın email sistemindeki bilgilerin farklı olması durumunda, SPONSOR veya WESTLINE’ın email sistemindeki bilgiler dikkate alınır.
        <br />   <b>12.4.</b> ÖĞRENCİ, başvuru formundaki herhangi bir yanlış veya yanıltıcı bilginin, PROGRAM’dan ihraç edilmesine neden olabileceğini kabul eder.

    <br />
        <b>MADDE 13. DS 2019 FORMU İLE İLGİLİ KOŞULLAR</b><br />

        <br />  <b>13.1.</b> ÖĞRENCİ'nin işe yerleşmesi akabinde WESTLINE, Amerika’daki SPONSOR KURULUŞ Genel Merkezinden vize başvurusu için gerekli olan ve ÖĞRENCİ adına düzenlenen DS-2019 Formunu getirtecektir. İş teklifini kabul eden ÖĞRENCİ, Madde 11’de belirtilen program ücretini peşin olarak ödeyecektir. Öğrenci vize için gereken randevu ve vize ücretini ABD büyükelçiliği banka hesaplarına peşin olarak yatıracak ve SEVIS ücretini ise ilgili resmi internet web sitesi üzerinden kredi kartı ile ödeyecektir.
        <br />  <b>13.2.</b> Bu sözleşmenin hazırlandığı tarihte, Amerikan vize ücreti 160 ABD Doları, SEVIS ücreti 35 ABD Doları’dır. Bu ücretleri, ABD resmi makamları önceden haber vermeksizin değiştirebilir. Ödenen bu ücretlerin TL karşılığı alıcı kurumun kendi kurlarını belirlemesinden ötürü IMKB'nin kurlarına göre farklılık gösterebilir.
        <br />  <b>13.3.</b> ÖĞRENCİ, DS2019 başlangıç tarihinden önce Amerika’ya giderse, hiçbir şeklide çalışmaya başlayamaz. Bu konu ile ilgili işvereni ile anlaşmış olsa bile, bu durumun gidiş tarihinden en az 2 hafta önce WESTLINE’a bildirilmesi gerekmektedir.
        <br />  <b>13.4.</b> Eğer ÖĞRENCİ’nin başlangıçtaki işi herhangi bir nedenle DS-2019’daki yasal çalışma tarihlerinden önce sona ererse, SPONSOR KURULUŞ’a haber vermekle yükümlüdür.

       <br /><b> MADDE 14. SAĞLIK SİGORTASI İLE İLGİLİ KOŞULLAR</b>
        <br /><b>14.1.</b> WESTLINE, ÖĞRENCİ’nin sağlık sigortasının sponsor kuruluş tarafından yaptırılmasını sağlayacaktır. Sigorta; ÖĞRENCİ’nin DS-2019 belgesinde yazan program başlangıç ve bitiş tarihleri arasında geçerlidir.
        <b> 14.2.</b> Sağlık sigortası Amerika’da araba kullanımı sırasında meydana 
    </div><br /><br />
    <div class="deneme2">
        <div style="float:left; width:50%; margin-left:-20px;">
            <center>Öğrenci Adı Soyadı / İmza</center>
        </div>
        <div style="float:right; margin-right:60px;">
            WestLine Yetkilisi/Adına / İmza <br />
            Emre Pişirici
        </div>
    </div>
    <div>
        <img src="~/assets/img/westlineSozlesme.jpg" />  Work and travel Aracılık Sözleşmesi
    </div>

    <div class="deneme">
        gelebilecek trafik kazalarını kapsamaz. Amerika’da araba kullanmak isteyen ÖĞRENCİ’nin ayrıca kaza sigortası yaptırması gerekir.
        <br />   <b>14.3.</b> Sağlık Sigortası, öğrencinin ABD’ye varmadan önceki sağlık sorunlarını ve kronik hale gelmiş rahatsızlıklarını kapsamamaktadır. Bu tür sigorta kapsamına dahil edilmeyen rahatsızlıkların içeriğine diş sağlığı da dahildir ve sigorta kapsamında değildir. Bu tür sağlık sorunlarında gerekli harcamalardan ve hasarlardan ÖĞRENCİ kendisi sorumludur.
        <br />   <b>14.4.</b> ÖĞRENCİ, herhangi bir nedenle Amerika’da kalış süresini uzatacak olursa, ek sigorta satın almak durumundadır. Ek sigorta yaptırmak için SPONSOR KURULUŞ ile bağlantı kurulması gerekir. ÖĞRENCİ’nin kendisine yeterli ek sigorta sağlamaması halinde WESTLİNE sorumlu tutulamayacaktır.
        <br />   <b> 14.5.</b> ÖĞRENCİ’nin sağlık sigortası, yasal çalışma süresi sonundaki tatil dönemini kapsamaz. Amerika’da DS2019 formunda yazan son kalış süresinden sonraki yasal tatil dönemini Amerika’da kalarak değerlendirmek isteyen ÖĞRENCİ, ek sigorta bedeli ödemek zorundadır. Aksi halde, tatil döneminde ÖĞRENCİ’nin karşılaşabileceği sorunlar sigorta kapsamında olmayacak ve bu sorunlardan doğrudan ÖĞRENCİ kendisi sorumlu olacaktır. İşini DS2019 formu üzerinde yazan son çalışma tarihinden önce sonlandıran ve bu durumda programı DS2019 formu üzerindeki son çalışma tarihinden önceki bir tarihte biten ÖĞRENCİ'nin sigortası yine otomatik olarak iptal edilmektedir. Bu dönemde doğacak maddi/manevi zararlardan ÖĞRENCİ sorumludur.
    <br />
        <b>MADDE 15. ÖĞRENCİNİN AMERİKA’DA ÇALIŞACAĞI İŞ İLE İLGİLİ KOŞULLAR</b><br />
        <br /> <b>15.1.</b> ÖĞRENCİ işten ayrılma, yeni bir işte veya ikinci bir işte çalışma durumunda; eski işinden ayrılışını, yeni işi ile ilgili iş adresini ve konaklama adres değişikliklerini SPONSOR KURULUŞ’a yazılı olarak bildirmekle yükümlüdür. ÖĞRENCİ, SPONSOR KURULUŞ’un onayını almadan işten ayrılamaz. İşten ayrılmak isteyen ÖĞRENCİ, ayrılma tarihinden en az 2 hafta önce SPONSOR KURULUŞ’a yazılı olarak bildirimde bulunmalıdır. ÖĞRENCİ, SPONSOR KURULUŞ’un onayını aldıktan sonra işten ayrılabilir. Bu bildirimlerin yapılmaması durumunda ÖĞRENCİ’nin vize statüsü iptal edilebilir. Tüm bu bildirimler SPONSOR KURULUŞ’a yazılı olarak yapılacaktır.
        <br /> <b>15.2.</b> İşin zamanından önce sona ermesi veya iptal edilmesi veya <b>ÖĞRENCİ</b>’nin vaktinden önce geri dönmeye karar vermesi durumunda hiçbir geri ödeme yapılmaz.
        <br /> <b>15.3.</b>    <b>ÖĞRENCİ</b>’nin, çalıştığı işyerinden herhangi bir sebeple çalışmasının karşılığı olan ücreti kısmen veya tamamen alamaması, aldığı ödeme araçlarını paraya çevirememesi veya ödemenin gecikmesi durumlarında WESTLINE sorumlu tutulamaz, ancak ilgili ücretin ödenmesi için sponsor firma yasal limitler dahilinde öğrenciye yardımcı olacaktır.
        <br />  <b>15.4.</b> WESTLINE ve SPONSOR KURULUŞ, ÖĞRENCİ’nin kendi 
    </div><br /><br />
    <div class="deneme2">
        <div style="float:left; width:50%; margin-left:-20px;">
            <center>Öğrenci Adı Soyadı / İmza</center>
        </div>
        <div style="float:right; margin-right:60px;">
            WestLine Yetkilisi/Adına / İmza <br />
            Emre Pişirici
        </div>
    </div>
    <div>
        <img src="~/assets/img/westlineSozlesme.jpg" />  Work and travel Aracılık Sözleşmesi
    </div>

    <div class="deneme">
        isteğiyle işten ayrılması durumunda veya ÖĞRENCİ’nin çalıştığı mevcut işe ek olarak ikinci bir iş talep etmesi durumunda, iş bulma hizmeti vermemektedir.
        <br />  <b>15.5. ÖĞRENCİ,</b> vergi iade formları olan W-2 formu kendisine ulaştığı zaman başvuru yaptığı WESTLINE ofisi ile temas kurmalıdır. WESTLINE, vergi iade formlarının doldurulmasında ÖĞRENCİ’ye yardım edecektir.
        <br />  <b>15.6. </b>İşe geç kalma, motivasyon eksikliği, temizlik ve hijyen kurallara uymama, iş arkadaşlarına ve müşterilere karşı kötü davranış gibi yasaların haklı saydığı veya ÖĞRENCİ’den kaynaklanan nedenlerden dolayı işveren tarafından işten çıkarılan öğrenciye, SPONSOR KURULUŞ veya WESTLINE yeni bir iş bulmak zorunda değildir.
        <br />  <b>15.7.</b> ÖĞRENCİ’nin yasal çalışma süresi 2 aydan daha az kalmış ise, sadece 1 veya 2 ay için öğrencinin bir başka işe yerleştirilmesi mümkün olamayabilir.
      <br />   <b>15.8.</b> WESTLINE’ın ve SPONSOR KURULUŞ’un kontrolü dışında oluşan kötü hava şartları, doğal afetler, ekonomik kriz, işveren kararı ve benzeri faktörlerden dolayı ÖĞRENCİ’nin, işe başlama tarihi ertelenebilir, çalışma saatleri değiştirilebilir, haftalık toplam mesai saati düşürülebilir, sözleşmesi değiştirilebilir veya tamamıyla iptal edilebilir, işine başlasa dahi işi süreli veya süresiz tatil edilebilir. ÖĞRENCİ’nin SPONSOR KURULUŞ ve WESTLINE’ın kontrolü dışında gerçekleşen söz konusu olağanüstü herhangi bir durumla karşılaşması halinde oluşabilecek masrafların, zarar veya ziyanların hiçbirinden WESTLINE veya SPONSOR KURULUŞ sorumlu değildir.
    <br />
        <b> MADDE 16. VİZE İLE İLGİLİ KOŞULLAR</b><br />
        <br />   <b> 16.1.</b> ÖĞRENCİ, WESTLINE tarafından kendisine belirtilen süre içinde vize evraklarını hazırlamalı ve vize hazırlığının yapılması için WESTLINE’a teslim etmelidir.
        <br />  <b>16.2.</b> Vize başvurusu Amerikan Konsolosluğu’na şahsen yapılacaktır. ÖĞRENCİ vize randevusunun olduğu gün, vize görüşmesine gitmek ve sonucu en kısa sürede WESTLINE’a bildirmek ile yükümlüdür.
        <br />   <b>16.3.</b> Vize sonucunun olumlu olması durumunda, ÖĞRENCİ’nin SPONSOR KURULUŞ veya WESTLINE web sayfası üzerinden veya ÖĞRENCİ’ye temin edilen dökümanlardan Amerika’ya gidiş öncesi oryantasyonu yapması zorunludur.
        <br />   <b>16.4.</b> Vize sonucunun olumsuz olması halinde; ÖĞRENCİ, DS 2019 formunu vize randevu tarihi itibari ile 3 işgünü içinde WESTLINE ofislerine imza karşılığı teslim etmelidir. DS 2019 formunun iadesinde meydana gelen gecikmelerden ÖĞRENCİ sorumludur.
        <br />   <b>16.5.</b> ÖĞRENCİ, ABD Konsolosluğu’nun vize işlemlerindeki gecikmelerinden, konsolosluklardaki veya yasal kurye şirketindeki kusurlu hareketlerden ve pasaport kayıplarından dolayı oluşabilecek ek masraflardan, maddi ve manevi kayıplardan -yeniden uçuş planı yapma da dahil- WESTLINE’ı sorumlu tutamaz.
       <br />  <b>16.6.</b> WESTLINE tarafından vize için istenilecek belgeleri sunan Öğrenci, 
    </div><br /><br />
    <div class="deneme2">
        <div style="float:left; width:50%; margin-left:-20px;">
            <center>Öğrenci Adı Soyadı / İmza</center>
        </div>
        <div style="float:right; margin-right:60px;">
            WestLine Yetkilisi/Adına / İmza <br />
            Emre Pişirici
        </div>
    </div>
    <div>
        <img src="~/assets/img/westlineSozlesme.jpg" />  Work and travel Aracılık Sözleşmesi
    </div>

    <div class="deneme">
        belgelerin doğruluğunu kabul eder ve tersi durumda WESTLINE sorumlu tutulamaz.
    <br />
        <b>MADDE 17. UYUM EĞİTİMİ</b><br />
        <b>17.1.</b> ÖĞRENCİ, Türkiye’den ayrılmadan önce SPONSOR KURULUŞ veya WESTLINE web sayfası veya ÖĞRENCİ’ye verilen materyaller üzerinden uyum eğitimini yapmak ile yükümlüdür. Bu eğitim, öğrencinin Amerika’ya uyum sağlamasını kolaylaştırmayı amaçlamaktadır. Bu yükümlülüğü yerine getirmeyen ÖĞRENCİ’nin J1 vizesi iptal edilebilir.
        <br /><b>17.2.</b> Amerika’da SPONSOR KURULUŞ tarafından “Uyum eğitimi” verilecekse bu eğitim bittikten sonra ÖĞRENCİ işverenin olduğu yere gidiş ile ilgili seyahat planlarını kendisi yapar ve bununla ilgili masrafları kendisi öder.
        <br /><b>17.3.</b> ÖĞRENCİ, Amerika’ya ilk varış noktası ile “uyum eğitimi” nin verileceği merkez ve/veya işverenin bulunduğu yer arası ulaşımı ayarlamaktan kendisi sorumludur. Ancak ÖĞRENCİ’ye Türkiye’de WESTLINE tarafından verilecek olan uyum eğitiminde, Amerika’da ineceği havaalanı ile kalacağı hostel arasında ulaşımı nasıl sağlayacağına dair yazılı doküman verilecektir.
        <br /><b>17.4.</b> ÖĞRENCİ’nin programa katıldığı sponsorun duruma göre Amerika’daki uyum eğitimi sırasında Sosyal Sigorta Numarası başvuru işlemleri SPONSOR KURULUŞ veya Sosyal Güvenlik Kurumundan gelen danışmanlar eşliğinde yapılacak, ÖĞRENCİ’ye Amerika’daki yaşam, yasal hakları ve uyması gereken çok önemli kurallar hakkında bilgi verilecektir. Bu uyum eğitimine katılmak zorunlu değildir ancak ÖĞRENCİ’nin katılması önemle tavsiye edilir.
    <br />
        <b>MADDE 18.KONAKLAMA İLE İLGİLİ KOŞULLAR</b><br />
       <br /><b>18.1.</b> ÖĞRENCİ, işverenin önerdiği barınmayı kabul etmediği taktirde, bağımsız olarak kendi gayretiyle konaklamasını ayarlamak durumundadır. İşverenin konaklama sağlamadığı işyerleri için, öğrenci SPONSOR KURULUŞ’tan öneri alabilir. Barınma için yapılan tüm harcamalar ve masraflar, ÖĞRENCİ’ye aittir.
        <br /><b>18.2.</b> Barınma şartlarının olumsuzluğundan ve/veya ücretlerinin yüksekliğinden WESTLINE sorumlu tutulamaz.
        <br /><b>18.3.</b> Konaklama imkanı sunmayan işverenlerde, ÖĞRENCİ’nin Amerika’ya gitmeden önce konaklama organizasyonunu yapmış olması zorunludur. Aksi durumlarda oluşabilecek program iptali ve benzeri herhangi bir negatif durumdan ötürü oluşacak tüm zararlardan ÖĞRENCİ sorumludur.
      <br /> <b> 18.4.</b> Bir çok iş pozisyonu için konaklama işveren ya da SPONSOR KURULUŞ tarafından sağlanmaktadır. Bazı iş pozisyonları için konaklama işveren ya da SPONSOR KURULUŞ tarafından sağlanmamakta ancak konaklamanın bulunabilmesi için tavsiyelerde bulunulmaktadır. ÖĞRENCİ, konaklama imkanı sağlanmayan bir iş pozisyonunu seçmesi durumunda konaklama ile ilgili tüm sorumlulukları da üstlenmiş olur. Bir iş pozisyonunda konaklamanın sağlanıp sağlanmadığı bilgisi iş seçimi sırasında ÖĞRENCİ'ye iletilir.

    </div><br /><br />
    <div class="deneme2">
        <div style="float:left; width:50%; margin-left:-20px;">
            <center>Öğrenci Adı Soyadı / İmza</center>
        </div>
        <div style="float:right; margin-right:60px;">
            WestLine Yetkilisi/Adına / İmza <br />
            Emre Pişirici
        </div>
    </div>

    <div>
        <img src="~/assets/img/westlineSozlesme.jpg" />  Work and travel Aracılık Sözleşmesi
    </div>

    <div class="deneme">
        <b>18.5.</b> Konaklama sağlayacıları ÖĞRENCİ ABD'ye varmadan önce konaklama için depozito ödenmesini isteyebilir. ÖĞRENCİ, istenilen depozito miktarını zamanında yatırmakla yükümlü olmakla birlikte zamanında yatırılmayan depozito miktarları için doğabilecek konaklama iptali ya da program iptali vs. herhangi bir problemden WESTLINE ya da SPONSOR KURULUŞ sorumlu değildir. Yatırılacak depozito miktarları WESTLINE üzerinden gönderilebileceği gibi ÖĞRENCİ de direkt aktarabilir. Depozito ve konaklama şartlarından doğacak iade ya da benzeri herhangi bir zarardan ötürü WESTLINE ya da SPONSOR KURULUŞ sorumlu tutulamaz. Depozito ya da konaklama işlemleri için verilecek ya da alınacak bedellerin sonuçlanmasından ÖĞRENCİ sorumludur.
       <br /><b>MADDE 19. AMERİKA’DA UÇUŞ VE GİRİŞ SONRASI KOŞULLAR</b> 
    <br />
        <b> 19.1.</b>- ÖĞRENCİ, Amerika’ya uçuş detaylarını WESTLINE’a ve işverenine, aynı zamanda SPONSOR KURULUŞ’un web sayfası üzerinden veya e-maille SPONSOR KURULUŞ’a bildirmekle yükümlüdür.
        <br /><b>19.2.</b> ÖĞRENCİ, Amerika’ya giriş yaptıktan itibaren 7 gün içinde SPONSOR KURULUŞ’un web sayfası üzerinden kullanıcı adı ve şifresi ile (bazı sponsor kuruluşlar için geçerli değildir) SEVIS sistemine kendi kaydını girmek ya da ilgili değişiklik bildirimlerini yapmak zorundadır. Aksi takdirde ÖĞRENCİ’nin vizesi iptal edilebilir. Yasaların zorunlu kıldığı bilgilendirmeleri zamanında yapmadığı için vizesi iptal edilen ÖĞRENCİ’ye karşı WESTLINE’ın herhangi bir sorumluluğu yoktur; bu durumda ÖĞRENCİ ücret iadesi ve/veya ek herhangi bir hizmet talebinde bulunamaz.
       <br /><b>19.3. </b> ÖĞRENCİ, ABD’de iken karşılaşılabileceği güvenlik, sağlık, yasal, çevresel, siyasi, kültürel ve dini gelenekler ve diğer şartlarla ilgili olarak hazır bulundurulan her şeyi okumak ve dikkatlice göz önünde tutmaktan sorumludur. Her ÖĞRENCİ; yasalar, kurallar veya geleneklerin ihlali halinde önceden bilgi sahibi olup olmadığına bakılmaksızın sorumluluğu tüm olarak alır. ÖĞRENCİ, işveren tarafından kendisine bildirilen iş yeri kurallarına, mesai saatlerine, giyimine, temizlik ve hijyenine özen göstermek ve bu tür kurallara uymakla yükümlüdür. Bu kuralların ihlali halinde işten çıkarılan ÖĞRENCİ’ye SPONSOR KURULUŞ ya da WESTLINE yeni bir iş ya da konaklama bulma konusunda yardımcı olmayacaktır.
       <br /><b>19.4.</b>  WESTLINE ve SPONSOR KURULUŞ’un kontrolü dışında gelişen savaş, sıkıyönetim, olağanüstü hal, ekonomik kriz, doğal afetler, toplu iflaslar veya şirketin kötü yönetimi sonucunda tamamen kapanması, satılması, el değiştirmesi veya faaliyetlerini süreli veya süresiz tatil etmesi durumlarında, öğrencinin işine devam etmesi mümkün olamayabilir. Bu tür hallerde, “Self Placement” seçeneği hariç, SPONSOR KURULUŞ öğrenciyi başka bir işyerine yerleştirir ancak öğrencinin istediği şehirden veya tercih ettiği iş alanından bir iş bulunması garanti edilemez. Herhangi bir nedenle, şirketlerde toplu iflasların yaşanması durumunda, SPONSOR KURULUŞ oğrenciye yeni bir iş 
    </div><br /><br />
    <div class="deneme2">
        <div style="float:left; width:50%; margin-left:-20px;">
            <center>Öğrenci Adı Soyadı / İmza</center>
        </div>
        <div style="float:right; margin-right:60px;">
            WestLine Yetkilisi/Adına / İmza <br />
            Emre Pişirici
        </div>
    </div>
    <div>
        <img src="~/assets/img/westlineSozlesme.jpg" />  Work and travel Aracılık Sözleşmesi
    </div>

    <div class="deneme">
        bulamayabilir ancak bu durumda öğrencinin yasal haklarını ve tazminat alacaklarını gözeterek, öğrenciye en uygun önerileri yapar.

       <br /><b>19.5.</b>  ÖĞRENCİ, PROGRAM süresince, çalıştığı işyerinde veya barındığı yerde güvenliği ve sağlığıyla ilgili bir problemle karşılaşması durumunda, en kısa zamanda WESTLINE ve SPONSOR KURULUŞ ile irtibata geçmekle yükümlüdür. Aksi durumda WESTLINE ve SPONSOR KURULUŞ, yaşanabilecek mağduriyetlerden, maddi ve manevi kayıplardan sorumlu değildir. ÖĞRENCİ, WESTLINE ile iletişiminde, sorunları derinleştirmek yerine, probleminin anlaşılmasını ve çözülmesini sağlamaya çalışır bir tutum içinde olmalıdır.
        <br /><b>19.6. </b>ÖĞRENCİ, Amerika’dan ayrılmadan önce uçak dönüş bilgilerini SPONSOR KURULUŞ’a ve WESTLINE’a bildirmekle yükümlüdür. SPONSOR KURULUŞ’a yapılacak olan bildirim SPONSOR KURULUŞ’un web sayfası üzerinden veya email ile, WESTLINE’a yapılacak olan bildirim ise e-mail yoluyla yapılabilir.


    <br />
        <b>MADDE 20. ÜCRET İADE KOŞULLARI VE İPTAL DURUMU</b>
       <br /><b>20.1.</b>  Olası iptal durumlarında ÖĞRENCİ’nin WESTLINE’a vermiş olduğu program bedeli içinden yapılacak kesinti miktarları aşağıda belirtilmiş olan maddelerle sabittir. Belirtilen durumlar haricinde olası her türlü iptal işlemi için ÖĞRENCİ’den 400 USD kesinti yapılır geri kalan miktar ise yine sözleşmede belirtilen iade döneminde öğrenciye iade edilir.
        <br />  <b>20.2.</b>  Program ücreti aşağıdaki alt başlıklarda açıklanan durumlarda iade edilebilir, aksi hiçbir durumda program ücretinin iadesi yapılmaz. İade işlemi SPONSOR KURULUŞ’un iade tarihiyle paralel olarak, en erken 30 Ekim 2016 tarihinde, en geç 30 Aralık 2016 tarihinde gerçekleşecektir.
        <br />   <b>20.3. </b> Geri ödeme kurallarının geçerli olması için, Öğrenci’nin, vize randevu tarihinden itibaren 3 iş günü içinde orijinal DS-2019 belgesi, ödeme faturası, makbuz veya banka dekontların asıllarını ve varsa vize reddi bulunan pasaport fotokopisini veya vize memurunca ÖĞRENCİ’ye verilen vize ret mektubunu WESTLINE’a teslim etmesi şarttır.
        <br />  <b>20.4. </b> Vize alamadığını, vize randevu tarihinden itibaren 3 iş günü içinde WESTLINE’a bildirmeyen ÖĞRENCİ’ye hiç bir geri ödeme yapılmaz.
        <br />  <b>20.5. </b> Pasaportunda vize ret damgası olmayan veya vize ret mektubu olmayan, vizeye başvurmayan, başvurduğu halde eksik evrak veya pasaporttaki veya evraklarındaki bir sorun nedeniyle yeniden başvurması istenilen ÖĞRENCİ, vizeden ret almış sayılmaz ve hiç bir geri ödeme talebinde bulunamaz. Aynı şekilde, sahtecilik, eksik evrak, yalan beyan veya bilerek/isteyerek vize reddi almaya teşebbüs gibi nedenlerle vizede ret alan öğrenciye hiç bir geri ödeme yapılmaz.
        <br />   <b>20.6.</b>  ÖĞRENCİ’nin, yukarıda sayılan koşulları sağlaması ve DS-2019 başlama tarihinden önce vizeden RET aldığını WESTLINE’a bildirmesi durumunda;
        <br />a)	2016-2017 Sonbahar Dönemi ve Genel Not Ortalaması 4’lü not 
    </div><br /><br />
    <div class="deneme2">
        <div style="float:left; width:50%; margin-left:-20px;">
            <center>Öğrenci Adı Soyadı / İmza</center>
        </div>
        <div style="float:right; margin-right:60px;">
            WestLine Yetkilisi/Adına / İmza <br />
            Emre Pişirici
        </div>
    </div>  <div>
        <img src="~/assets/img/westlineSozlesme.jpg" />  Work and travel Aracılık Sözleşmesi
    </div>

    <div class="deneme">
        sisteminde en az 2,00; 100’lü not sisteminde en az 60 olan ve son dönem derslerinde kalmamış olan ve mezuniyet tarihini uzatmamış olan, T.C. uyruklu olan ve Yüksek Lisans ya da Meslek Yüksek Okulu dışında kalan 4 yıllık fakültelerin 1., 2. veya 3. sınıflarında okuyan <b>ÖĞRENCİ</b>’ye, ödemiş olduğu 400 USD hariç geri kalan PROGRAM ücretinin TAMAMI hiç bir kesinti yapılmadan iade edilir.
      <br />b)	Yukarıda açıklanan a bendine uymayan ÖĞRENCİ’ye diğer koşulları sağlaması ve DS-2019 başlama tarihinden önce vizeden RET aldığını bildirmesi durumunda program ücretinden yine 400 ABD Doları kesilerek geriye kalan bedel iade döneminde iade edilir. Öğrencinin ödediği program bedeli 400 ABD dolarından az ise, hiç bir geri ödeme yapılmaz ve kalan bakiyenin tamamlanması konusunda WESTLINE hukuki haklarını saklı tutar.


        <br /><b>20.7. </b>Savaş, sıkıyönetim, olağanüstü hal, doğal felaketler, isyan, halk hareketleri veya büyük çaplı hastalık veya salgın nedeniyle, Türkiye’nin sınırlarını kapatması veya ABD Vize Merkezlerinin faaliyetlerini durdurması veya ABD Vize Merkezlerinin vize işlemlerini geçici olarak durdurması ya da PROGRAM’a katılımı engelleyecek şekilde yavaşlatması veya kısıtlaması veya ilgili/yetkili kuruluşların Acente’nin kayıt alma yetkisini elinden alması veya Acente operasyonlarını sonlandırması veya ABD’nin program katılımcılarını sınırlarından almaması gibi olağanüstü haller nedeniyle ÖĞRENCİ’nin vize alamaması veya programa Acente üzerinden devam edemeyecek olması durumunda, ÖĞRENCİ’nin ödemiş olduğu program ücretinden 800 USD kesinti yapılarak kalan bedel iade edilir.
        <br />   <b>20.8.</b> ÖĞRENCİ’nin, DS-2019 başlama tarihinden sonra vize alamayan ya da programını herhangi bir sebepten ötürü iptal eden ÖĞRENCİ’ye hiç bir geri ödeme yapılmaz. Öğrenci Gold Placement paket türünü seçmiş ise sadece uçak bileti ücreti varsa kesintileri ile iade edilir.
        <br />  <b>20.9.</b> DS-2019 başlama tarihinden önce, iş yerleştirmesi yapılmış veya DS-2019 formu onaylanmış/basılmış veya J-1 vizesi almış aşağıda açıklanan zorunlu nedenlerle programdan ayrılanlara, program ücretinde yapılacak kesinti miktarı 500 USD'dir ve geri kalan miktar iade döneminde geri ödenir. ÖĞRENCİ'nin aşağıdaki nedenlere bağlı olarak programı iptal etme durumlarında ÖĞRENCİ'nin ödemiş olduğu bedel anlaşılan sözleşmeye göre alınması gerekenden   az ise, hiç bir geri ödeme yapılmaz ve eksik bakiye için WESTLINE tüm hukuki haklarını saklı tutar.
        <br /> a)	ÖĞRENCi’nin, PROGRAM’a katılımına engel olacak şekilde, ciddi bir sağlık probleminin oluşması durumunda ve bunun devlet hastanesi tarafından düzenlenen bir sağlık raporu ile WESTLINE’a belgelendirilmesi şartı ile;
        <br /> b)	ÖĞRENCİ’nin anne, baba ve/veya kardeşlerinden birinin vefatı durumunda, ilgili durumun resmi bir belge ile belgendirilmesi şartı ile;
        <br />   <b>20.10. </b>DS-2019 başlama tarihinden sonra yapılacak iptallerde hiç bir geri ödeme yapılmaz.

    </div><br /><br />
    <div class="deneme2">
        <div style="float:left; width:50%; margin-left:-20px;">
            <center>Öğrenci Adı Soyadı / İmza</center>
        </div>
        <div style="float:right; margin-right:60px;">
            WestLine Yetkilisi/Adına / İmza <br />
            Emre Pişirici
        </div>
    </div>

    <div>
        <img src="~/assets/img/westlineSozlesme.jpg" />  Work and travel Aracılık Sözleşmesi
    </div>

    <div class="deneme">
        <b>20.11.</b> DS-2019 formunun basıldığı ya da onaylandığı tarihten itibaren vizeye girmemiş ancak programını yukarıdaki nedenler dışında iptal etmek isteyen ÖĞRENCİ’den 800 USD kesinti yapılır geri kalan bedel iade döneminde ÖĞRENCİ’ye verilir. Eğer iptal tarihine kadar ÖĞRENCİ’nin yapmış olduğu toplam ödemeler 800 USD’nin altında ise ÖĞRENCİ’ye herhangi bir iade yapılmaz ve eksik miktar için WESTLINE hukuki haklarını saklı tutar.
        <br /><b>20.12.</b> Vizesini alan ve madde 20.10’daki belirtilen maddeye karşılamayan ÖĞRENCİ’nin herhangi bir iade  hakkı yoktur ve seçmiş olduğu program paketi için madde 11.1.’de belirtilen bedeli ödemekle yükümlüdür. Eksik kalan bedelin tahsili için WESTLINE’ın yasal hakları saklıdır.
        <br /><b>20.13.</b> “Self Placement”, “Gold Placement” veya “Full Placement” seçeneğine kayıt olan ÖĞRENCİ’nin vize öncesi veya sonrası evraklarını kendisinden istenilen zamanda temin etmemesi veya edememesi durumunda veya buna bağlı herhangi bir nedenden ötürü programının iptal edilmesi durumunda 800 USD’lik ücret hariç geri kalan ve WESTLINE’a ödenmiş olan bedel ÖĞRENCİ’ye iade döneminde geri ödenir.
        <br /> <b>20.14.</b>   ÖĞRENCİ’nin vize görüşmesine girmesi sonucunda konsoloslukça isim soruşturmasına takılması ve bu sürecin uzaması durumunda programa katılmasının imkansız hale gelmesi, işverenin sürecin uzamasından ötürü ÖĞRENCİ’yi artık kabul etmemesi veya bu sürecin neden olduğu herhangi bir sebepten ötürü ÖĞRENCİ programını iptal edebilir ancak ödemiş olduğu bedelden 800 USD kesinti yapılır ve geri kalan bakiye iade döneminde ÖĞRENCİ’ye ödenir.
        <br /> <b> 20.15.a.</b> ÖĞRENCİ’nin işe kabul sürecinde girmesi gerekebileceği işveren, işveren temsilcisi ya da sponsor mülakatı ya da mülakatlarından geçememesi nedeniyle programı iptal etmek istemesi veya sürecin uzamasıyla programın iptal edilmek zorunda kalması durumunda ödemiş olduğu program bedelinden 400USD kesinti yapılır ve geri kalan miktar iade döneminde kesintisiz olarak ÖĞRENCİ’ye iade edilir.
        <br />  <b>20.15.b.</b> ÖĞRENCİ’nin iş sözleşmesi ÖĞRENCİ ya da WESTLINE tarafından temin edilmişse ve ÖĞRENCİ bu süre zarfından sonra DS2019 belgesi temin edilmemiş olmasına rağmen programını iptal etmek isterse ödemiş olduğu program bedelinden 800USD kesinti yapılır; geri kalan miktar ise iade döneminde ÖĞRENCİ’ye iade edilir.
        <br />  <b>20.16.</b> ÖĞRENCİ “Self Placement” program türüne kayıt olmuşsa ve herhangi bir sebepten ötürü (Sponsor Kuruluş’un işi kabul etmemesi, İşverenin farklı bir sponsor kuruluş istemesi vb.) sponsor kuruluşun değişmesi durumunda arada doğabilecek iptal bedeli ve ücret farkı gibi tüm zararlar ÖĞRENCİ’ye aittir. Söz konusu fark 200USD’nin aşağısında olmamak üzere olayın vuku bulması durumunda net miktar WESTLINE tarafından ÖĞRENCİ’ye bildirilir.
        <br />  <b>20.17.</b> Öğrenci’nin “Full Placement” veya “Gold Placement” paketlerinden birine kayıt olmasıyla birlikte iş mülakatlarından geçememesi veya süreç içerisinde sponsor kuruluşu 

    </div><br /><br />
    <div class="deneme2">
        <div style="float:left; width:50%; margin-left:-20px;">
            <center>Öğrenci Adı Soyadı / İmza</center>
        </div>
        <div style="float:right; margin-right:60px;">
            WestLine Yetkilisi/Adına / İmza <br />
            Emre Pişirici
        </div>
    </div>
    <div>
        <img src="~/assets/img/westlineSozlesme.jpg" />  Work and travel Aracılık Sözleşmesi
    </div>

    <div class="deneme">
        değişmek durumunda kalınması halinde Öğrenci’nin başka bir iş mülakatına alınması veya diğer sponsor firma üzerinden programına devam etmesi gibi bir durumun söz konusu olması halinde kesin olmamakla birlikte cezai fark 150USD olabilir ve söz konusu cezanın kesinleşmesi durumunda WESTLINE Öğrenci’ye durumu bildirir. Öğrenci programa devam edilebilmek için bu ödemeyi WESTLINE’a yapmak zorundadır.
        <br /><b>20.18. </b>WESTLINE’nın, ÖĞRENCİ’ye herhangi bir iş sunamaması veya ÖĞRENCİ’nin gerekli tüm evraklarını istenen zaman diliminde WESTLINE’a iletmesine ve bir iş yerleştirmesi yapılmasına rağmen WESTLINE’ın söz konusu bu sözleşmedeki bağlayıcı maddeler dışında olası herhangi bir durumdan ötürü DS-2019 formunu temin edememesi durumunda, ÖĞRENCİ’ye tüm program bedeli kesintisiz olarak iade döneminde geri ödenir.
        <br /><b>20.19. </b> Herhangi bir nedenden ötürü programın iptal olması durumunda ve herhangi bir iade bedelinin olması durumunda tüm paketler (Full Placement, Gold Placement, Self Placement) için söz konusu iade bedeli ancak sözleşmede belirtilen iade döneminde ÖĞRENCİ’ye iade edilir.
         <br />  <b>20.20. </b> İade haklarındaki miktarlar ÖĞRENCİ'ye ödemiş olduğu döviz tutarının ya da tutarlarının ödemenin/ödemelerin yapılmış olduğu tarihteki TL karşılığı olarak ÖĞRENCİ'ye iade döneminde geri ödenir. Söz konusu döviz kurları IMKB'nin resmi sitesindeki değerlere göre baz alınır. İadenin yapılacağı yabancı para birimi ya da TL banka hesap bilgilerini ÖĞRENCİ e-mail yoluyla yazılı olarak WESTLINE'a bildirmekle yükümlüdür. Yükümlü olduğu halde yükümlülüğün yerine getirilmemesi durumunda yaşanacak gecikme ya da zararlardan WESTLINE sorumlu değildir.
         <br /> <b> 20.21. </b> WESTLINE yukarıdaki madde ya da maddelere aykırı bir durum olması durumunda bu durumu sebep göstererek sözleşmeyi tek taraflı fesih etme hakkını saklı tutar.
    <br />
        <b> MADDE 21. DİĞER ÜCRETLER</b>
       <br /> <b>  21.1.</b> ÖĞRENCİ, DS-2019 belgesini kaybetmesi durumunda 150 ABD Doları yenileme ve ek olarak kargo ücretini WESTLINE’a ödeyecektir.
        <br /><b> 21.2.</b> ÖĞRENCİ, programa kesin kabulü yapıldıktan sonra gidiş tarihini ve süresini değiştirmek isterse DS-2019 formunun güncellenmesi için 150 ABD Doları değişiklik ve kargo ücreti ödemelidir. Ancak öncesinde bu işlemin gerçekleşmesi için sponsor kuruluşun onayı gerekir.
        <br /><b> 21.3. </b>ÖĞRENCİ’nin, yüksek ücretli olan bir programdan daha düşük ücretli bir programa geçiş yapmak istemesi durumunda, 400 USD’lik kesinti karşılığında söz konusu işlem yapılabilmektedir. ÖĞRENCİ düşük ücretli bir programdan yüksek ücretli bir programa geçmek isterse sadece programlar arasındaki fiyat farkını ödeyecektir. Programlar arasındaki fiyat farkı hesabı yapılırken, öğrencinin değişiklik istediği tarihteki program fiyatları esas alınacak ve aralarındaki fiyat farkı öğrenciden yine aynı tarihte talep edilecektir. Talep edilen miktar aynı gün içerisinde yatırılmalıdır. Ücretin geç yatırılması ve bu esnada fiyat farkının oluşması durumunda 
    </div><br /><br />
    <div class="deneme2">
        <div style="float:left; width:50%; margin-left:-20px;">
            <center>Öğrenci Adı Soyadı / İmza</center>
        </div>
        <div style="float:right; margin-right:60px;">
            WestLine Yetkilisi/Adına / İmza <br />
            Emre Pişirici
        </div>
    </div>
    <div>
        <img src="~/assets/img/westlineSozlesme.jpg" />  Work and travel Aracılık Sözleşmesi
    </div>

    <div class="deneme">
        oluşacak farkı ÖĞRENCİ ödemekle yükümlüdür.
      <br /><b>  21.4. </b>ÖĞRENCİ, Biyografik bilgileriyle ilgili yanlış bildirimde bulunursa ve bunun sonucu olarak DS 2019 Belgesinin yenilenmesi gerekirse 150 ABD Doları ceza ve ayrıca yeni DS 2019 belgesinin getirilmesi için 80 ABD Doları kargo masrafını WESTLINE’a ödemekle yükümlüdür.
        <br /><b>   21.5.</b> "Gold Placement" program türüne kayıt olan ve ilk vize görüşmesinde ret alan ancak ikinci kez vize başvurusu yapmak isteyen ÖĞRENCİ ilk vize görüşmesi sonrasındaki her görüşme için ekstra 160 ABD dolarını ya da günün güncel vize başvuru ücretini ödemekle yükümlüdür.
        <br /><b>  21.6.</b> Öğrencinin ABD'ye giderken DS-2019 formunu unutması durumunda ABD içerisinde yapılacak ekstra bürokratik işlemler için gerekli olan ücreti ÖĞRENCİ, SPONSOR KURULUŞ'a direkt öder. Bu ücretin yanı sıra kargo için istenen bedellerin de yine ÖĞRENCİ tarafından ödenmesi gerekir. Bu işlemlerin nasıl gerçekleşeceği ve ücretinin ne olacağını SPONSOR KURULUŞ direkt ÖĞRENCİ'ye iletir.

        <br /><b>   22. PROGRAMDAN İHRAÇ EDİLME</b>
        <br /><b>   22.1.</b> ÖĞRENCİ, ABD’de bulunurken, gittiği ülkenin gelenek, görenek ve yasalarına uymakla yükümlüdür. Bu programa katılan öğrenci, gerek Türk adet ve geleneklerine gerekse ABD’deki gelenek, görenek ve yasalara uymaması, kavgaya karışması, alkollü araç kullanması, uyuşturucu kullanması veya kullanılmasına aracılık etmesi, genel ahlaka aykırı davranışlar göstermesi, hırsızlık gibi yüz kızartıcı bir suç işlemesi vb durumlarda programdan ihraç edilir.
        <br /><b>   22.2.</b> ÖĞRENCİ, yasalara aykırı herhangi bir fiilden dolayı suçlu olduğunu gösterir kuvvetli delillerin olması durumunda, mahkeme sonucu beklenmeden programdan ihraç edilebilir.
        <br /> <b>  22.3.</b> WESTLINE, işbu sözleşmenin imzalanmasından, ÖĞRENCİ’nin PROGRAM’ı tamamlayıp Amerika’dan dönüşüne kadar olan süreç içerisinde, kendisi veya başkaları için tehlike oluşturacağını veya davranışının PROGRAM’a zararlı olacağını düşündüğü ÖĞRENCİ’yi PROGRAM’dan çıkarma hakkını saklı tutar.
        <br /> <b>  22.4.</b> PROGRAM’dan ihraç edilme durumunda ÖĞRENCİ’nin o zamana kadar ödemiş olduğu ücretler ile ilgili olarak WESTLINE’ın, ÖĞRENCİ’ye herhangi bir iade yapmaksızın, hiçbir sebep göstermeksizin ve açıklama yapmaksızın, sözleşmeyi tek taraflı olarak feshedeceğini peşinen bilerek imzaladığını; bu tek taraflı fesihten mütevellit WESTLINE’ın herhangi bir tazmin borcu doğmayacağını bildiğini; WESTLİNE’in uçuş masrafları, vize ücretleri, pasaport ücretleri, yurtdışı çıkış harç pulu gibi çeşitli nam ve isimlerle anılan tüm masraflardan hiçbir şekilde sorumlu tutulamayacağını ve yaşanabilecek hukuki süreçlerde WESTLINE’ın haklı taraf olarak çıkması durumunda hukuki süreçle ilgili oluşacak tüm masrafları ödeme sorumluluğunda olduğunu bilir ve kabul eder.

    </div><br /><br />
    <div class="deneme2">
        <div style="float:left; width:50%; margin-left:-20px;">
            <center>Öğrenci Adı Soyadı / İmza</center>
        </div>
        <div style="float:right; margin-right:60px;">
            WestLine Yetkilisi/Adına / İmza <br />
            Emre Pişirici
        </div>
    </div>
    <div>
        <img src="~/assets/img/westlineSozlesme.jpg" />  Work and travel Aracılık Sözleşmesi
    </div>

    <div class="deneme">
        <b> MADDE 23. İZİNLER, HAKLAR, UYUŞMAZLIKLAR</b><br />
        <b>  23.1.</b> ÖĞRENCİ program sürecinde kayıtlara girmiş olduğu tüm video, yazı veya fotoğrafların genel anlamıyla tüm yazılı ve görsel materyallerinin WESTLINE tarafından herhangi bir alanda tanıtılmasına, basılmasına, gösterilmesine veya kullanılmasına izin verir. ÖĞRENCİ, işbu sözleşmeye imza atmasıyla birlikte iletişim araçları olarak vermiş olduğu e-mail, telefon ve diğer tüm iletişim araçlarından WESTLINE tarafından promosyon, kampanya, bilgilendirme vs. tarzında iletiler/aramalar alacağını bilir; istediği takdirde yazılı olarak bildirmesi koşulu ile yasal çerçevelerde bu hizmetin iptalini isteyebilir.

<br /><br /><br /><br /><br /> <br /> 
        <br />   <b>MADDE 24. TEBLİGAT ADRESLERİ</b>
        Tarafların aşağıda zikredilen adresleri tebligat adresleridir. İşbu adreslere yapılacak tebligatlarda, her kime yapılırsa yapılsın, tebligat yapılmış sayılacaktır.
       <br /> <b>WESTLINE’ın tebligat adresi:</b> İstiklal Cad. Kontlar İşhanı No:75/6 Kat:5 Taksim / Beyoğlu / İstanbul
    <br />
        <b>  Öğrencinin Tebligat Adresi: DENIZLI KINIKLI SITELER MAH 6214 SOK NO 8 KAT 3</b>

    <br />
        <b> MADDE 25. YETKİLİ MAHKEME</b><br />
        İşbu sözleşmeden doğması muhtemel uyuşmazlıklar için, Istanbul Mahkemeleri yetkilidir .
        <br />
        İşbu sözleşme 25 Madde olmak üzere, <b>07.10.2016</b> tarihinde iki nüsha olarak her sayfası imzalanmış ve bir nüsha WESTLINE’a, bir nüsha da ÖĞRENCİ’ye verilmiştir.
    <br />
        <b>EK BİLGİLER:</b><br />
        ÖĞRENCİ TC KİMLİK NO: <b>@Model.Degers.FirstOrDefault(x => x.InputId == 1).Icerik </b><br />
        ÖĞRENCİ E-MAİL ADRESİ: <b>@Model.Degers.FirstOrDefault(x => x.InputId == 5).Icerik </b><br />
        ÖĞRENCİ TELEFON NUMARASI: <b>@Model.Degers.FirstOrDefault(x => x.InputId == 6).Icerik </b><br />

    </div><br /><br />
    <div class="deneme2">
        <div style="float:left; width:50%; margin-left:-20px;">
            <center>Öğrenci Adı Soyadı / İmza</center>
        </div>
        <div style="float:right; margin-right:60px;">
            WestLine Yetkilisi/Adına / İmza <br />
            Emre Pişirici
        </div>
    </div>

</body>






</html>
<script>

    window.print();
   
   
</script>