
@{
    ViewBag.Title = "Filtrele";
    Layout = "~/Views/Shared/_YonetimLayout.cshtml";
}

@model IEnumerable<westline_alfa.Models.Kullanici>
<a href="/YonetimPanel/Filtrele" class="btn btn-info">Tüm Öğrenciler</a>
<a href="/YonetimPanel/Filtrele?filter=1" class="btn btn-info">Wat Sözleşmesi Olmayanlar</a>
<a href="/YonetimPanel/Filtrele?filter=2" class="btn btn-info">Fotoğrafı Olmayanlar</a>
<a href="/YonetimPanel/Filtrele?filter=3" class="btn btn-info">Öğrenci Belgesi Olmayanlar</a>
<a href="/YonetimPanel/Filtrele?filter=4" class="btn btn-info">Pasaportu Olmayanlar</a>
<a href="/YonetimPanel/Filtrele?filter=5" class="btn btn-info">Adli Sicili Olmayanlar</a>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Kullanıcı Adı</th>
            <th>Mail</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var i in Model)
        {
            if (ViewBag.f == 0)
            {
                <tr>
                    <td><input class="chc" type="checkbox" id="@i.Id" /></td>
                    <td>@i.Id</td>
                    <td>@i.KullaniciAdi</td>
                    <td>@i.Degers.FirstOrDefault(x => x.InputId == 5).Icerik</td>
                </tr>
            }
            else if (ViewBag.f == 1)
            {
                if (!i.Sozlesmes.Any(x => x.SozlesmeTur == 1))
                {
                    <tr>
                        <td><input class="chc" type="checkbox" id="@i.Id" /></td>
                        <td>@i.Id</td>
                        <td>@i.KullaniciAdi</td>
                        <td>@i.Degers.FirstOrDefault(x => x.InputId == 5).Icerik</td>
                    </tr>
                }
            }
            else if (ViewBag.f == 2)
            {
                if (!i.Sozlesmes.Any(x => x.SozlesmeTur == 4))
                {
                    <tr>
                        <td><input class="chc" type="checkbox" id="@i.Id" /></td>
                        <td>@i.Id</td>
                        <td>@i.KullaniciAdi</td>
                        <td>@i.Degers.FirstOrDefault(x => x.InputId == 5).Icerik</td>
                    </tr>
                }
            }
            else if (ViewBag.f == 3)
            {
                if (!i.Sozlesmes.Any(x => x.SozlesmeTur == 5))
                {
                    <tr>
                        <td><input class="chc" type="checkbox" id="@i.Id" /></td>
                        <td>@i.Id</td>
                        <td>@i.KullaniciAdi</td>
                        <td>@i.Degers.FirstOrDefault(x => x.InputId == 5).Icerik</td>
                    </tr>
                }
            }
            else if (ViewBag.f == 4)
            {
                if (!i.Sozlesmes.Any(x => x.SozlesmeTur == 6))
                {
                    <tr>
                        <td><input class="chc" type="checkbox" id="@i.Id" /></td>
                        <td>@i.Id</td>
                        <td>@i.KullaniciAdi</td>
                        <td>@i.Degers.FirstOrDefault(x => x.InputId == 5).Icerik</td>
                    </tr>
                }
            }
            else if (ViewBag.f == 5)
            {
                if (!i.Sozlesmes.Any(x => x.SozlesmeTur == 7))
                {
                    <tr>
                        <td><input class="chc" type="checkbox" id="@i.Id" /></td>
                        <td>@i.Id</td>
                        <td>@i.KullaniciAdi</td>
                        <td>@i.Degers.FirstOrDefault(x => x.InputId == 5).Icerik</td>
                    </tr>
                }
            }
        }
    </tbody>
</table>
<textarea id="mesaj" rows="4" style="width:100%;border-bottom:10px" placeholder="Gönderilecek mesajı yazınız"></textarea>
<a id="gonder" style="margin-top: 10px;cursor:pointer" class="btn btn-danger pull-right">Gönder</a>

<script>
    $(function () {
        $("#gonder").click(function () {
            var no = new Array();
            var i = 0;
            $(".chc").each(function () {
                if($(this).is(':checked'))
                {
                    no[i] = $(this).attr("id");
                    i++;
                }
            });
            $.post("../YonetimPanel/TopluMesajAt", { no: no, mesaj: $("#mesaj").val() }, function (data) {
                if(data.basari == 1){
                    alert("Mesaj gönderildi");
                }
            });
        });
    });
</script>