
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_YonetimLayout.cshtml";
}
@model IEnumerable<westline_alfa.Models.Kisi>
<style>
    hr.stil1 {
        height: 10px;
        border-style: inset;
        color: black;
        margin-top: -10px;
    }

    hr.stil2 {
        height: 10px;
        border-style: inset;
        margin-left: -1px;
        width: 340px;
        color: black;
        margin-top: -10px;
    }
</style>

<hr class="stil1">

<div class="container">
    <h3>Admin Onayı Bekleyen Kullanıcılar</h3>
    <hr class="stil2">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Onay verilcek kişi id</th>

                <th>Onay verilcek kişi</th>
                <th>Onay ver</th>
            </tr>
        </thead>
        <tbody>
            <form action="/YonetimPanel/OnayVer" method="post">

                @foreach (var k in Model.Where(x => x.AktivasyonOnay == true && x.AdminOnay == false))
                {
                    <tr>
                        <td><label style="padding-top:-25px;">@k.Id</label></td>

                        <td><h5 style="float:left; font-size:20px;">Onay bekleyen Kullanici : @k.Ad @k.Soyad</h5></td>
                        <td><button style="margin-left:20px; margin-top:5px;" type="submit" class="btn btn-success">Onay Ver</button></td>
                    </tr>
                }

            </form>
        </tbody>
    </table>
</div>
<br /><br />
<div class="container">
    <h3>Aktivasyon Onayı Bekleyen Kullanıcılar</h3>
    <hr class="stil2">


    <table class="table table-hover">
        <thead>
            <tr>
                <th>Aktivasyon beklenen kişi</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var k in Model.Where(x => x.AktivasyonOnay == false && x.AdminOnay == false))
                {
                    <tr>
                        <td><h5 style="float:left; font-size:20px;">Onay bekleyen Kullanici : @k.Ad @k.Soyad</h5></td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
