
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_YonetimLayout.cshtml";
}
@model IEnumerable<westline_alfa.Models.Kisi>

<h4>Admin Onayı Bekleyen Kullanıcılar</h4>

    <form action="/YonetimPanel/OnayVer" method="post">
        @foreach (var k in Model.Where(x=>x.AktivasyonOnay == true && x.AdminOnay == false))
        {
            <input name="id" type="hidden" value="@k.Id"/>
            <h5>@k.Ad @k.Soyad</h5><input type="submit" value="Onay ver" />
        }
        
    </form>
<h4>Aktivasyon Onayı Bekleyen Kullanıcılar</h4>
@{
    foreach (var k in Model.Where(x => x.AktivasyonOnay == false && x.AdminOnay == false))
    {
        <h5>@k.Ad @k.Soyad</h5>
    }
}