
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_YonetimLayout.cshtml";
}
@model IEnumerable<westline_alfa.Models.Kullanici>
<style>
    hr.stil1 {
        height: 10px;
        border-style: inset;
        color: black;
        margin-top: -10px;
    }

    hr.stil2 {
        height: 10px;
        border-style: inset;
        margin-left: -1px;
        width: 340px;
        color: black;
        margin-top: -10px;
    }
</style>

<hr class="stil1">

<div class="container">
    <h3>Admin Onayı Bekleyen Kullanıcılar</h3>
    <hr class="stil2">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Kullanıcı Adı</th>
                <th>Mail</th>
                <th>Onay ver</th>
            </tr>
        </thead>
        <tbody>

                @foreach (var k in Model.Where(x => x.AktivasyonOnay == true && x.AdminOnay == false))
                {
                    <tr>
                        <td>@k.Id</td>
                        
                        <td><h5 style="float:left; font-size:20px;">@k.KullaniciAdi</h5></td>
                        <td><h5 style="float:left; font-size:20px;">@k.Degers.FirstOrDefault(x=>x.InputId==5).Icerik</h5></td>
                        <td><button style="margin-left:20px; margin-top:5px;" type="button" data-toggle="modal" data-id="@k.Id" data-target="#myModal" class="btn btn-success onay">Onay Ver</button></td>
                    </tr>
                }
        </tbody>
    </table>
</div>
<br /><br />
<div class="container">
    <h3>Aktivasyon Onayı Bekleyen Kullanıcılar</h3>
    <hr class="stil2">


    <table class="table table-hover">
        <thead>
            <tr>
                <th>Aktivasyon beklenen kişi</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var k in Model.Where(x => x.AktivasyonOnay == false && x.AdminOnay == false))
                {
                    <tr>
                        <td><h5 style="float:left; font-size:20px;">Onay bekleyen Kullanici : @k.KullaniciAdi</h5></td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>


<form action="/YonetimPanel/TaksitveOnay" method="post">
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Taksitlendir ve Onay Ver</h4>
                </div>
                <div class="modal-body">
                    <div class="form-body">
                        <input type="hidden" id="hidden" name="kullaniciId" />
                        <label for="form-group-input">Ücret *</label>
                        <input type="text" class="form-control " name="ucret" required />
                        <label style="margin-top:7px" for="form-group-input" >Taksit Sayısı *</label>
                        <input  type="number" class="form-control " name="taksitSayi" required />
                    </div>
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
                    <button type="submit" class="btn btn-primary">Taksitlendir ve Onay ver</button>
                </div>
            </div>
        </div>
    </div>
</form>
<script>
    $(document).on("click", ".onay", function () {
         var myBookId = $(this).data('id');
         $(".modal-body #hidden").val(myBookId);
});
</script>