
@{
    ViewBag.Title = "OgrenciDetay";
    Layout = "~/Views/Shared/_YonetimLayout.cshtml";
}
@model westline_alfa.Models.Kullanici
<style>
    .admin-link {
        width: 7.69%;
        height: 42px;
        float: left;
        text-align: center;
        font-size: 18px;
        padding-top: 9px;
        color: #fff;
    }

    .pasif {
        background-color: gray;
    }

    .aktif {
        background-color: green;
    }
</style>
<div class="panel panel-default">
    <div class="panel-heading">
        Kullanıcının Bitirdiği Sayfalar
    </div>
    <div class="panel-body">
        @{
            if (Model.SayfaDurums.FirstOrDefault(x => x.SayfaId == 10).Durum == true)
            {
                <div class="admin-link aktif">
                    <i class="fa fa-key" aria-hidden="true"></i>
                </div>
            }
            else
            {
                <div class="admin-link pasif">
                    <i class="fa fa-key" aria-hidden="true"></i>
                </div>
            }


            <div class="admin-link aktif">
                <i class="fa fa-dashboard" aria-hidden="true"></i>
            </div>


            if (Model.SayfaDurums.FirstOrDefault(x => x.SayfaId == 1).Durum == true)
            {
                <div class="admin-link aktif">
                    <i class="fa fa-user" aria-hidden="true"></i>
                </div>
            }
            else
            {
                <div class="admin-link pasif">
                    <i class="fa fa-user" aria-hidden="true"></i>
                </div>
            }

            if (Model.SayfaDurums.FirstOrDefault(x => x.SayfaId == 11).Durum == true)
            {
                <div class="admin-link aktif">
                    <i class="fa fa-money" aria-hidden="true"></i>
                </div>
            }
            else
            {
                <div class="admin-link pasif">
                    <i class="fa fa-money" aria-hidden="true"></i>
                </div>
            }

            if (Model.SayfaDurums.FirstOrDefault(x => x.SayfaId == 1010).Durum == true)
            {
                <div class="admin-link aktif">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                </div>
            }
            else
            {
                <div class="admin-link pasif">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                </div>
            }

            if (Model.SayfaDurums.FirstOrDefault(x => x.SayfaId == 7).Durum == true)
            {
                <div class="admin-link aktif">
                    <i class="fa fa-user-plus" aria-hidden="true"></i>
                </div>
            }
            else
            {
                <div class="admin-link pasif">
                    <i class="fa fa-user-plus" aria-hidden="true"></i>
                </div>
            }

            if (Model.SayfaDurums.FirstOrDefault(x => x.SayfaId == 5).Durum == true)
            {
                <div class="admin-link aktif">
                    <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                </div>
            }
            else
            {
                <div class="admin-link pasif">
                    <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                </div>
            }

            if (Model.SayfaDurums.FirstOrDefault(x => x.SayfaId == 2).Durum == true)
            {
                <div class="admin-link aktif">
                    <i class="fa fa-address-card-o" aria-hidden="true"></i>
                </div>
            }
            else
            {
                <div class="admin-link pasif">
                    <i class="fa fa-address-card-o" aria-hidden="true"></i>
                </div>
            }

            if (Model.SayfaDurums.FirstOrDefault(x => x.SayfaId == 3).Durum == true)
            {
                <div class="admin-link aktif">
                    <i class="fa fa-file-picture-o" aria-hidden="true"></i>
                </div>
            }
            else
            {
                <div class="admin-link pasif">
                    <i class="fa fa-file-picture-o" aria-hidden="true"></i>
                </div>
            }

            if (Model.SayfaDurums.FirstOrDefault(x => x.SayfaId == 1011).Durum == true)
            {
                <div class="admin-link aktif">
                    <i class="fa fa-briefcase" aria-hidden="true"></i>
                </div>
            }
            else
            {
                <div class="admin-link pasif">
                    <i class="fa fa-briefcase" aria-hidden="true"></i>
                </div>
            }

            if (Model.SayfaDurums.FirstOrDefault(x => x.SayfaId == 6).Durum == true)
            {
                <div class="admin-link aktif">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                </div>
            }
            else
            {
                <div class="admin-link pasif">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                </div>
            }

            if (Model.SayfaDurums.FirstOrDefault(x => x.SayfaId == 4).Durum == true)
            {
                <div class="admin-link aktif">
                    <i class="fa fa-plane" aria-hidden="true"></i>
                </div>
            }
            else
            {
                <div class="admin-link pasif">
                    <i class="fa fa-plane" aria-hidden="true"></i>
                </div>
            }

            if (Model.SayfaDurums.FirstOrDefault(x => x.SayfaId == 9).Durum == true)
            {
                <div class="admin-link aktif">
                    <i class="fa fa-file-text-o" aria-hidden="true"></i>
                </div>
            }
            else
            {
                <div class="admin-link pasif">
                    <i class="fa fa-file-text-o" aria-hidden="true"></i>
                </div>
            }
        }


        <table>
            @{
                var durumlar = @Model.SayfaDurums.ToList();
            }
            @foreach (var durum in durumlar)
            {
                <tr>
                    <td>@durum.Sayfa.SayfaAdi</td>
                    @{
                        if (durum.Durum.Value)
                        {
                            <td>Tamamlandı</td>
                        }
                        else
                        {
                            <td>Tamamlanmadı</td>
                        }
                    }
                </tr>
                        }

        </table>



        @if (Model.Sozlesmes.Any(x => x.SozlesmeTur == 1))
        {
            if (Model.Sozlesmes.FirstOrDefault(x => x.SozlesmeTur == 1).Onay == false)
            {
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Wat Sözleşmesi Onayla
                    </div>
                    <div class="panel-body">
                        <a href="~/Images/@Model.Sozlesmes.FirstOrDefault(x=>x.SozlesmeTur==1).Url">PDF'i Görüntüle</a>
                        @using (Html.BeginForm("SozlesmeOnay", "YonetimPanel", FormMethod.Post))
                        {
                            <input type="hidden" name="sozlesmeId" value="@Model.Sozlesmes.FirstOrDefault(x=>x.SozlesmeTur==1).Id" />
                            <input type="submit" name="Submit" id="Submit" value="Sözleşme Onayla" />
                        }
                    </div>
                </div>
            }
            else
            {
                <p>Kullanıcının Watt'ı Onaylanmış</p>
            }
        }
        else
        {
            <h2>Kullanıcı Watt Sözleşmesi Yüklememiş</h2>
            <div class="panel panel-default">
                <div class="panel-heading">
                    WAT Sözleşmesi Yükle
                </div>
                <div class="panel-body">
                    @using (Html.BeginForm("Upload", "YonetimPanel", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <input type="file" name="FileUpload" />
                        <input type="submit" name="Submit" id="Submit" value="Upload" />
                    }
                </div>
            </div>
        }
    </div>
</div>


<div class="panel panel-default">
    <div class="panel-heading">
        Kullanıcı Bilgileri
    </div>
    <div class="panel-body">
        <a class="btn btn-default" href="/Pdf/Index/@Model.Id" target="_blank">Kullanıcı Bilgileri Görüntüle</a>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        WAT Sözleşmesi Yükle
    </div>
    <div class="panel-body">
        @using (Html.BeginForm("UploadWat", "YonetimPanel", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <input type="hidden" name="id" value="@Model.Id" />
            <input type="file" name="FileUpload" />
            <input type="submit" name="Submit" id="Submit" value="Upload" />
        }
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        DS-2019 yükle
    </div>
    <div class="panel-body">
        @using (Html.BeginForm("UploadDs", "YonetimPanel", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <input type="hidden" name="id" value="@Model.Id" />
            <input type="file" name="FileUpload" />
            <input type="submit" name="Submit" id="Submit" value="Upload" />
        }
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        Sevis harcı yükle
    </div>
    <div class="panel-body">
        @using (Html.BeginForm("UploadSevis", "YonetimPanel", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <input type="hidden" name="id" value="@Model.Id" />
            <input type="file" name="FileUpload" />
            <input type="submit" name="Submit" id="Submit" value="Upload" />
        }
    </div>
</div>

@*@if (Model.Sozlesmes.Any(x => x.SozlesmeTur == 1))
{
    if (Model.Sozlesmes.FirstOrDefault(x => x.SozlesmeTur == 1).Onay == false)
    {
        <div class="panel panel-default">
            <div class="panel-heading">
                Wat Sözleşmesi Onayla
            </div>
            <div class="panel-body">
                <a href="Images/@Model.Sozlesmes.FirstOrDefault(a=>a.SozlesmeTur==1).Url">Wat'i Goruntule</a>
                @using (Html.BeginForm("SozlesmeOnay", "YonetimPanel", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <input type="hidden" name="sozlesmeId" value="@Model.Sozlesmes.FirstOrDefault(x => x.SozlesmeTur == 1).Id" />
                    <input type="submit" name="Submit" id="Submit" value="Sözleşme Onayla" />
                }
            </div>
        </div>
    }
}*@


