
@{
    Layout = null;
}
@model westline_alfa.Models.Kullanici
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/pdf.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>
    <div class="container">

        @*kisisel bilgiler*@
        @{ for (int i = 1; i < 10; i++)
            {
                if (i == 8) { continue; }
                <div class="kutu">
                    <div class="icerik-baslik">@i. Sayfa</div>
                    @{ foreach (var deger in Model.Degers)
                        {
                            if (deger.Input.SayfaId == i)
                            {
                                if (deger.Input.TurId == 4 || deger.Input.TurId == 5)
                                {
                                    int icerik = Convert.ToInt32(deger.Icerik);
                                    <div class="icerik-kutu">
                                        <span class="baslik">@deger.Input.Aciklama</span><span>:</span><span class="icerik">@deger.Input.Seceneks.FirstOrDefault(x=>x.Id==icerik).Icerik</span>
                                    </div>
                                }
                                else if (deger.Input.TurId == 1007)
                                {
                                    <div class="icerik-kutu">
                                        <span class="baslik">@deger.Input.Aciklama</span><span>:</span><span class="icerik"><img src="~/Images/@deger.Icerik"/></span>
                                    </div>
                                }
                                else
                                {
                                    <div class="icerik-kutu">
                                        <span class="baslik">@deger.Input.Aciklama</span><span>:</span><span class="icerik">@deger.Icerik</span>
                                    </div>
                                }
                        }
                        }
                    }
                </div>
            }
        }
    </div>
</body>
</html>
